@model IEnumerable<SharpShopDirect.Models.Blog>

@{
    ViewBag.Title = "Matilda's Say";
}

<h2>Matilda's Say</h2>


<table class="table">
    <tr>
        <th>
           
        </th>
        <th>
           
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <h3>@Html.DisplayFor(modelItem => item.MyComment)</h3>
        </td>
        <td>
           <p>@Html.DisplayFor(modelItem => item.Date)</p>
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Blogid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Blogid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Blogid })*@
        </td>
    </tr>

    

   
}

</table>
