
@{
    ViewBag.Title = "Accessories";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <center>
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img src="~/Images/su16_home_hero-7.jpg" alt="Accessories">
            </div>


            <div class="item">
                <a href="/Items/Details/462">
                    <img src="~/Images/Accessories/etcetera_spring2016_216526_a.png" width="503" height="850" alt="RITZY - 216526">
                </a>
                <div class="carousel-caption">
                    <h3>RITZY - 216526</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/463">
                    <img src="~/Images/Accessories/etcetera_spring2016_216527_a.png" width="503" height="850" alt="SIENNA - 216527">
                </a>
                <div class="carousel-caption">
                    <h3>SIENNA - 216527</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/464">
                    <img src="~/Images/Accessories/etcetera_spring2016_216528_a.png" width="503" height="850" alt="GOLDIE - 216528">
                </a>
                <div class="carousel-caption">
                    <h3>GOLDIE - 216528</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/465">
                    <img src="~/Images/Accessories/etcetera_spring2016_217530_a.png" width="503" height="850" alt="TIVOLI - 217530">
                </a>
                <div class="carousel-caption">
                    <h3>TIVOLI - 217530</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/466">
                    <img src="~/Images/Accessories/etcetera_spring2016_217785_a.png" width="503" height="850" alt="RALEIGH - 217785">
                </a>
                <div class="carousel-caption">
                    <h3>RALEIGH - 217785</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/467">
                    <img src="~/Images/Accessories/etcetera_spring2016_217786_a.png" width="503" height="850" alt="KATMANDU - 217786">
                </a>
                <div class="carousel-caption">
                    <h3>KATMANDU - 217786</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/468">
                    <img src="~/Images/Accessories/etcetera_spring2016_217795_a.png" width="503" height="850" alt="VERONA - 217795">
                </a>
                <div class="carousel-caption">
                    <h3>VERONA - 217795</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/469">
                    <img src="~/Images/Accessories/etcetera_summer2016_216938_a.png" width="503" height="850" alt="EMBOSSED - 216938">
                </a>
                <div class="carousel-caption">
                    <h3>EMBOSSED - 216938</h3>
                </div>
            </div>


            <div class="item">
                <a href="/Items/Details/470">
                    <img src="~/Images/Accessories/etcetera_summer2016_216939_a.png" width="503" height="850" alt="GEO - 217940">
                </a>
                <div class="carousel-caption">
                    <h3>TASSEL - 216939</h3>
                </div>
            </div>




            <div class="item">
                <a href="/Items/Details/471">
                    <img src="~/Images/Accessories/etcetera_summer2016_217940_a.png" width="503" height="850" alt="GEO - 217940">
                </a>
                <div class="carousel-caption">
                    <h3>GEO - 217940</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/472">
                    <img src="~/Images/Accessories/etcetera_summer2016_217951_a.png" width="503" height="850" alt="BLUSH - 217951">
                </a>
                <div class="carousel-caption">
                    <h3>BLUSH - 217951</h3>
                </div>
            </div>



        </div>
    </center>


    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>