@{
    ViewBag.Title = "Collections";
}

@*<h2>Collections</h2>*@



<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="29"></li>
        <li data-target="#myCarousel" data-slide-to="136"></li>
        <li data-target="#myCarousel" data-slide-to="171"></li>
        <li data-target="#myCarousel" data-slide-to="204"></li>
        <li data-target="#myCarousel" data-slide-to="235"></li>
        <li data-target="#myCarousel" data-slide-to="247"></li>

    </ol>

    <!-- Wrapper for slides -->
    <center>
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img src="~/Images/su16_home_hero-4.jpg" alt="JACKETS">
            </div>
            <div class="item">
                <a href="/Items/Details/1">
                    <img src="~/Images/Jackets/etcetera_spring2016_205500_a.png" width="503" height="850" alt="VELOCITY - 205500">
                </a>
                <div class="carousel-caption">
                    <h3>VELOCITY - 205500</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/2">
                    <img src="~/Images/Jackets/etcetera_spring2016_205547_a.png" width="503" height="850" alt="GLOBAL - 205547">
                </a>
                <div class="carousel-caption">
                    <h3>GLOBAL - 205547</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/3">
                    <img src="~/Images/Jackets/etcetera_spring2016_205557_a.png" width="503" height="850" alt="COAST - 205557">
                </a>
                <div class="carousel-caption">
                    <h3>COAST - 205557</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/4">
                    <img src="~/Images/Jackets/etcetera_spring2016_205566_a.png" width="503" height="850" alt="ATMOSPHERE - 205566">
                </a>
                <div class="carousel-caption">
                    <h3>ATMOSPHERE - 205566</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/5">
                    <img src="~/Images/Jackets/etcetera_spring2016_205575_a.png" width="503" height="850" alt="IMAGE - 205575">
                </a>

                <div class="carousel-caption">
                    <h3>IMAGE - 205575</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/6">
                    <img src="~/Images/Jackets/etcetera_spring2016_205580_a.png" width="503" height="850" alt="JETSET - 205580">
                </a>

                <div class="carousel-caption">
                    <h3>JETSET - 205580</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/7">
                    <img src="~/Images/Jackets/etcetera_spring2016_205604_a.png" width="503" height="850" alt="FLOWERPLAY - 205604">
                </a>

                <div class="carousel-caption">
                    <h3>FLOWERPLAY - 205604</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/8">
                    <img src="~/Images/Jackets/etcetera_spring2016_205605_a.png" width="503" height="850" alt="ULTIMATE - 205605">
                </a>

                <div class="carousel-caption">
                    <h3>ULTIMATE - 205605</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/9">
                    <img src="~/Images/Jackets/etcetera_spring2016_205785_a.png" width="503" height="850" alt="CHAMPAGNE - 205785">
                </a>

                <div class="carousel-caption">
                    <h3>CHAMPAGNE - 205785</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/10">
                    <img src="~/Images/Jackets/etcetera_spring2016_205788_a.png" width="503" height="850" alt="BARLEY - 205788">
                </a>

                <div class="carousel-caption">
                    <h3>BARLEY - 205788</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/11">
                    <img src="~/Images/Jackets/etcetera_spring2016_405502_a.png" width="503" height="850" alt="BIANCA - 405502">
                </a>

                <div class="carousel-caption">
                    <h3>BIANCA - 405502</h3>
                </div>
            </div>
            <div class="item">

                <a href="/Items/Details/12">
                    <img src="~/Images/Jackets/etcetera_spring2016_405507_a.png" width="503" height="850" alt="AMBROSIA - 405507">
                </a>

                <div class="carousel-caption">
                    <h3>AMBROSIA - 405507</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/13">
                    <img src="~/Images/Jackets/etcetera_spring2016_405523_a.png" width="503" height="850" alt="MARVELOUS - 405523">
                </a>

                <div class="carousel-caption">
                    <h3>MARVELOUS - 405523</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/14">
                    <img src="~/Images/Jackets/etcetera_spring2016_405526_a.png" width="503" height="850" alt="DAYBREAK - 405526">
                </a>

                <div class="carousel-caption">
                    <h3>DAYBREAK - 405526</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/15">
                    <img src="~/Images/Jackets/etcetera_spring2016_405531_a.png" width="503" height="850" alt="LACQUERED - 405531">
                </a>

                <div class="carousel-caption">
                    <h3>LACQUERED - 405531</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/16">
                    <img src="~/Images/Jackets/etcetera_spring2016_405543_a.png" width="503" height="850" alt="SARAFINA - 405543">
                </a>

                <div class="carousel-caption">
                    <h3>SARAFINA - 405543</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/17">
                    <img src="~/Images/Jackets/etcetera_spring2016_405561_a.png" width="503" height="850" alt="TRULY - 405561">
                </a>

                <div class="carousel-caption">
                    <h3>TRULY - 405561</h3>
                </div>
            </div>



            <div class="item">


                <a href="/Items/Details/18">
                    <img src="~/Images/Jackets/etcetera_spring2016_405563_a.png" width="503" height="850" alt="PINKLADY - 405563">
                </a>



                <div class="carousel-caption">
                    <h3>PINKLADY - 405563</h3>
                </div>
            </div>
            <div class="item">

                <a href="/Items/Details/19">
                    <img src="~/Images/Jackets/etcetera_spring2016_405585_a.png" width="503" height="850" alt="CHARNA - 405585">
                </a>


                <div class="carousel-caption">
                    <h3>CHARNA - 405585</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/20">
                    <img src="~/Images/Jackets/etcetera_spring2016_405786_a.png" width="503" height="850" alt="ENIGMA - 405786">
                </a>

                <div class="carousel-caption">
                    <h3>ENIGMA - 405786</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/21">
                    <img src="~/Images/Jackets/etcetera_spring2016_405789_a.png" width="503" height="850" alt="FELLINI - 405789">
                </a>

                <div class="carousel-caption">
                    <h3>FELLINI - 405789</h3>
                </div>
            </div>








            <div class="item">
                <a href="/Items/Details/22">
                    <img src="~/Images/Jackets/etcetera_summer2016_205885_a.png" width="503" height="850" alt="PEKOE - 205885">
                </a>

                <div class="carousel-caption">
                    <h3>PEKOE - 205885</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/23">
                    <img src="~/Images/Jackets/etcetera_summer2016_205891_a.png" width="503" height="850" alt="NUTSHELL - 205891">
                </a>

                <div class="carousel-caption">
                    <h3>NUTSHELL - 205891</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/24">
                    <img src="~/Images/Jackets/etcetera_summer2016_205900_a.png" width="503" height="850" alt="JAVA - 205900">
                </a>


                <div class="carousel-caption">
                    <h3>JAVA - 205900</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/25">
                    <img src="~/Images/Jackets/etcetera_summer2016_205930_a.png" width="503" height="850" alt="TONIC - 205930">
                </a>

                <div class="carousel-caption">
                    <h3>TONIC - 205930</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/26">
                    <img src="~/Images/Jackets/etcetera_summer2016_205951_a.png" width="503" height="850" alt="J'ADORE - 205951">
                </a>

                <div class="carousel-caption">
                    <h3>J'ADORE - 205951</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/27">
                    <img src="~/Images/Jackets/etcetera_summer2016_405892_a.png" width="503" height="850" alt="DIVINE - 405892">
                </a>

                <div class="carousel-caption">
                    <h3>DIVINE - 405892</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/28">
                    <img src="~/Images/Jackets/etcetera_summer2016_405942_a.png" width="503" height="850" alt="NAVIGATOR - 405942">
                </a>

                <div class="carousel-caption">
                    <h3>NAVIGATOR - 405942</h3>
                </div>
            </div>
            @*Number 28 index in Jackets*@


            @*#29*@
            @*BEGIN TOPS SECTION*@
            <div class="item">
                <img src="~/Images/su16_home_hero-5.jpg" alt="TOPS">
            </div>

            @*30*@
            <div class="item">

                <a href="/Items/Details/29">
                    <img src="~/Images/Tops/etcetera_spring2016_204500_a.png" width="503" height="850" alt="LIDO - 204500">
                </a>



                <div class="carousel-caption">
                    <h3>LIDO - 204500</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/30">
                    <img src="~/Images/Tops/etcetera_spring2016_204505_a.png" width="503" height="850" alt="DEBUT - 204505">
                </a>

                <div class="carousel-caption">
                    <h3>DEBUT - 204505</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/31">
                    <img><img src="~/Images/Tops/etcetera_spring2016_204562_a.png" width="503" height="850" alt="PARADISE - 204562">
                </a>

                <div class="carousel-caption">
                    <h3>PARADISE - 204562</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/32">
                    <img src="~/Images/Tops/etcetera_spring2016_204567_a.png" width="503" height="850" alt="GYPSY - 204567">
                </a>

                <div class="carousel-caption">
                    <h3>GYPSY - 204567</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/33">
                    <img src="~/Images/Tops/etcetera_spring2016_204574_a.png" width="503" height="850" alt="ZOOM - 204574">
                </a>

                <div class="carousel-caption">
                    <h3>ZOOM - 204574</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/34">
                    <img src="~/Images/Tops/etcetera_spring2016_204575_a.png" width="503" height="850" alt="ORZO - 204575">
                </a>

                <div class="carousel-caption">
                    <h3>ORZO - 204575</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/35">
                    <img src="~/Images/Tops/etcetera_spring2016_204576_a.png" width="503" height="850" alt="FLOURISH - 204576">
                </a>

                <div class="carousel-caption">
                    <h3>FLOURISH - 204576</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/36">
                    <img src="~/Images/Tops/etcetera_spring2016_204577_a.png" width="503" height="850" alt="LANA - 204577">
                </a>

                <div class="carousel-caption">
                    <h3>LANA - 204577</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/37">
                    <img src="~/Images/Tops/etcetera_spring2016_204588_a.png" width="503" height="850" alt="UNCHARTED - 204588">
                </a>

                <div class="carousel-caption">
                    <h3>UNCHARTED - 204588</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/38">
                    <img src="~/Images/Tops/etcetera_spring2016_204612_a.png" width="503" height="850" alt="CLEO - 204612">
                </a>

                <div class="carousel-caption">
                    <h3>CLEO - 204612</h3>
                </div>
            </div>

            @*40*@
            <div class="item">
                <a href="/Items/Details/39">
                    <img src="~/Images/Tops/etcetera_spring2016_204616_a.png" width="503" height="850" alt="HEARTBEAT - 204616">
                </a>

                <div class="carousel-caption">
                    <h3>HEARTBEAT - 204616</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/40">
                    <img src="~/Images/Tops/etcetera_spring2016_205544_a.png" width="503" height="850" alt="ESSENCE - 205544">
                </a>

                <div class="carousel-caption">
                    <h3>ESSENCE - 205544</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/41">
                    <img src="~/Images/Tops/etcetera_spring2016_210501_a.png" width="503" height="850" alt="SHARP - 210501">
                </a>

                <div class="carousel-caption">
                    <h3>SHARP - 210501</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/42">
                    <img src="~/Images/Tops/etcetera_spring2016_210504_a.png" width="503" height="850" alt="MIA - 210504">
                </a>

                <div class="carousel-caption">
                    <h3>MIA - 210504</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/43">
                    <img src="~/Images/Tops/etcetera_spring2016_210506_a.png" width="503" height="850" alt="DRIFT - 210506">
                </a>

                <div class="carousel-caption">
                    <h3>DRIFT - 210506</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/44">
                    <img src="~/Images/Tops/etcetera_spring2016_210510_a.png" width="503" height="850" alt="MILKY - 210510">
                </a>

                <div class="carousel-caption">
                    <h3>MILKY - 210510</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/45">
                    <img src="~/Images/Tops/etcetera_spring2016_210512_a.png" width="503" height="850" alt="BAGUETTE - 210512">
                </a>

                <div class="carousel-caption">
                    <h3>BAGUETTE - 210512</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/46">
                    <img src="~/Images/Tops/etcetera_spring2016_210515_a.png" width="503" height="850" alt="KEEPSAKE - 210515">
                </a>

                <div class="carousel-caption">
                    <h3>KEEPSAKE - 210515</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/47">
                    <img src="~/Images/Tops/etcetera_spring2016_210518_a.png" width="503" height="850" alt="CREAMSICLE - 210518">
                </a>

                <div class="carousel-caption">
                    <h3>CREAMSICLE - 210518</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/48">
                    <img src="~/Images/Tops/etcetera_spring2016_210519_a.png" width="503" height="850" alt="NOUGAT - 210519">
                </a>

                <div class="carousel-caption">
                    <h3>NOUGAT - 210519</h3>
                </div>
            </div>

            @*49*@

            <div class="item">
                <a href="/Items/Details/49">
                    <img src="~/Images/Tops/etcetera_spring2016_210522_a.png" width="503" height="850" alt="MASCARPONE - 210522">
                </a>

                <div class="carousel-caption">
                    <h3>MASCARPONE - 210522</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/50">
                    <img src="~/Images/Tops/etcetera_spring2016_210524_a.png" width="503" height="850" alt="MELLOW - 210524">
                </a>

                <div class="carousel-caption">
                    <h3>MELLOW - 210524</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/51">
                    <img src="~/Images/Tops/etcetera_spring2016_210529_a.png" width="503" height="850" alt="BLAINE - 210529">
                </a>

                <div class="carousel-caption">
                    <h3>BLAINE - 210529</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/52">
                    <img src="~/Images/Tops/etcetera_spring2016_210533_a.png" width="503" height="850" alt="NEWSPRINT - 210533">
                </a>

                <div class="carousel-caption">
                    <h3>NEWSPRINT - 210533</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/53">
                    <img src="~/Images/Tops/etcetera_spring2016_210534_a.png" width="503" height="850" alt="NEWSPRINT - 210534">
                </a>

                <div class="carousel-caption">
                    <h3>NEWSPRINT - 210534</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/54">
                    <img src="~/Images/Tops/etcetera_spring2016_210543_a.png" width="503" height="850" alt="HAZELNUT - 210543">
                </a>

                <div class="carousel-caption">
                    <h3>HAZELNUT - 210543</h3>
                </div>
            </div>




            <div class="item">

                <a href="/Items/Details/55">
                    <img src="~/Images/Tops/etcetera_spring2016_210549_a.png" width="503" height="850" alt="KNIGHT - 210549">
                </a>


                <div class="carousel-caption">
                    <h3>KNIGHT - 210549</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/56">
                    <img src="~/Images/Tops/etcetera_spring2016_210551_a.png" width="503" height="850" alt="KNOTTED - 210551">
                </a>

                <div class="carousel-caption">
                    <h3>KNOTTED - 210551</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/57">
                    <img src="~/Images/Tops/etcetera_spring2016_210558_a.png" width="503" height="850" alt="MARTINI - 210558">
                </a>

                <div class="carousel-caption">
                    <h3>MARTINI - 210558</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/58">
                    <img src="~/Images/Tops/etcetera_spring2016_210564_a.png" width="503" height="850" alt="FERRARI - 210564">
                </a>

                <div class="carousel-caption">
                    <h3>FERRARI - 210564</h3>
                </div>
            </div>

            @*59*@

            <div class="item">
                <a href="/Items/Details/59">
                    <img src="~/Images/Tops/etcetera_spring2016_210568_a.png" width="503" height="850" alt="INTREPID - 210568">
                </a>

                <div class="carousel-caption">
                    <h3>INTREPID - 210568</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/60">
                    <img src="~/Images/Tops/etcetera_spring2016_210573_a.png" width="503" height="850" alt="JEZEBEL - 210573">
                </a>

                <div class="carousel-caption">
                    <h3>JEZEBEL - 210573</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/61">
                    <img src="~/Images/Tops/etcetera_spring2016_210574_a.png" width="503" height="850" alt="ZEN - 210574">
                </a>

                <div class="carousel-caption">
                    <h3>ZEN - 210574</h3>
                </div>
            </div>



            <div class="item">
                <a href="/Items/Details/62">
                    <img src="~/Images/Tops/etcetera_spring2016_210575_a.png" width="503" height="850" alt="DECK - 210575">
                </a>

                <div class="carousel-caption">
                    <h3>DECK - 210575</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/63">
                    <img src="~/Images/Tops/etcetera_spring2016_210582_a.png" width="503" height="850" alt="INDEPENDENCE - 210582">
                </a>

                <div class="carousel-caption">
                    <h3>INDEPENDENCE - 210582</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/64">
                    <img src="~/Images/Tops/etcetera_spring2016_210584_a.png" width="503" height="850" alt="VIVA - 210584">
                </a>

                <div class="carousel-caption">
                    <h3>VIVA - 210584</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/65">
                    <img src="~/Images/Tops/etcetera_spring2016_210588_a.png" width="503" height="850" alt="NIRVANA - 210588">
                </a>

                <div class="carousel-caption">
                    <h3>NIRVANA - 210588</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/66">
                    <img src="~/Images/Tops/etcetera_spring2016_210589_a.png" width="503" height="850" alt="LEGION - 210589">
                </a>

                <div class="carousel-caption">
                    <h3>LEGION - 210589</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/67">
                    <img src="~/Images/Tops/etcetera_spring2016_210591_a.png" width="503" height="850" alt="WIMBLEDON - 210591">
                </a>

                <div class="carousel-caption">
                    <h3>WIMBLEDON - 210591</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/68">
                    <img src="~/Images/Tops/etcetera_spring2016_210606_a.png" width="503" height="850" alt="TRANQUIL - 210606">
                </a>

                <div class="carousel-caption">
                    <h3>TRANQUIL - 210606</h3>
                </div>
            </div>

            @*69*@

            <div class="item">
                <a href="/Items/Details/69">
                    <img src="~/Images/Tops/etcetera_spring2016_210607_a.png" width="503" height="850" alt="COOKIE - 210607">
                </a>

                <div class="carousel-caption">
                    <h3>COOKIE - 210607</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/70">
                    <img src="~/Images/Tops/etcetera_spring2016_210608_a.png" width="503" height="850" alt="HAMPTONS - 210608">
                </a>

                <div class="carousel-caption">
                    <h3>HAMPTONS - 210608</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/71">
                    <img src="~/Images/Tops/etcetera_spring2016_210610_a.png" width="503" height="850" alt="PARKER - 210610">
                </a>

                <div class="carousel-caption">
                    <h3>PARKER - 210610</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/72">
                    <img src="~/Images/Tops/etcetera_spring2016_210611_a.png" width="503" height="850" alt="COUNTRY - 210611">
                </a>

                <div class="carousel-caption">
                    <h3>COUNTRY - 210611</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/73">
                    <img src="~/Images/Tops/etcetera_spring2016_210793_a.png" width="503" height="850" alt="OBLIQUE - 210793">
                </a>

                <div class="carousel-caption">
                    <h3>OBLIQUE - 210793</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/74">
                    <img src="~/Images/Tops/etcetera_spring2016_210798_a.png" width="503" height="850" alt="BROWNIE - 210798">
                </a>

                <div class="carousel-caption">
                    <h3>BROWNIE - 210798</h3>
                </div>
            </div>


            <div class="item">
                <a href="/Items/Details/75">
                    <img src="~/Images/Tops/etcetera_spring2016_212508_a.png" width="503" height="850" alt="NIGHTBIRD - 212508">
                </a>

                <div class="carousel-caption">
                    <h3>NIGHTBIRD - 212508</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/76">
                    <img src="~/Images/Tops/etcetera_spring2016_212511_a.png" width="503" height="850" alt="ASTER - 212511">
                </a>

                <div class="carousel-caption">
                    <h3>ASTER - 212511</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/77">
                    <img src="~/Images/Tops/etcetera_spring2016_212514_a.png" width="503" height="850" alt="EMBARK - 212514">
                </a>

                <div class="carousel-caption">
                    <h3>EMBARK - 212514</h3>
                </div>
            </div>

            <div class="item">
                <a href="/Items/Details/78">
                    <img src="~/Images/Tops/etcetera_spring2016_212522_a.png" width="503" height="850" alt="PRESENCE - 212522">
                </a>

                <div class="carousel-caption">
                    <h3>PRESENCE - 212522</h3>
                </div>
            </div>

            @*80*@

            <div class="item">
                <a href="/Items/Details/79">
                    <img src="~/Images/Tops/etcetera_spring2016_212535_a.png" width="503" height="850" alt="GEORGETTE - 212535">
                </a>

                <div class="carousel-caption">
                    <h3>GEORGETTE - 212535</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/80">
                    <img src="~/Images/Tops/etcetera_spring2016_212537_a.png" width="503" height="850" alt="DIAMONDS - 212537">
                </a>

                <div class="carousel-caption">
                    <h3>DIAMONDS - 212537</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/81">
                    <img src="~/Images/Tops/etcetera_spring2016_212538_a.png" width="503" height="850" alt="VENICE - 212538">
                </a>

                <div class="carousel-caption">
                    <h3>VENICE - 212538</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/82">
                    <img src="~/Images/Tops/etcetera_spring2016_212545_a.png" width="503" height="850" alt="EXQUISTE - 212545">
                </a>

                <div class="carousel-caption">
                    <h3>EXQUISTE - 212545</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/83">
                    <img src="~/Images/Tops/etcetera_spring2016_212548_a.png" width="503" height="850" alt="SEAFOAM - 212548">
                </a>

                <div class="carousel-caption">
                    <h3>SEAFOAM -  212548</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/84">
                    <img src="~/Images/Tops/etcetera_spring2016_212550_a.png" width="503" height="850" alt="HOTHOUSE - 212550">
                </a>

                <div class="carousel-caption">
                    <h3>HOTHOUSE - 212550</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/85">
                    <img src="~/Images/Tops/etcetera_spring2016_212554_a.png" width="503" height="850" alt="GLITTER - 212554">
                </a>

                <div class="carousel-caption">
                    <h3>GLITTER - 212554</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/86">
                    <img src="~/Images/Tops/etcetera_spring2016_212559_a.png" width="503" height="850" alt="LIMELIGHT - 212559">
                </a>

                <div class="carousel-caption">
                    <h3>LIMELIGHT - 212559</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/87">
                    <img src="~/Images/Tops/etcetera_spring2016_212564_c.png" width="503" height="850" alt="SEYCHELLES - 212564">
                </a>

                <div class="carousel-caption">
                    <h3>SEYCHELLES - 212564</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/88">
                    <img src="~/Images/Tops/etcetera_spring2016_212565_a.png" width="503" height="850" alt="NOVEL - 212565">
                </a>

                <div class="carousel-caption">
                    <h3>NOVEL - 212565</h3>
                </div>
            </div>

            @*90*@

            <div class="item">
                <a href="/Items/Details/89">
                    <img src="~/Images/Tops/etcetera_spring2016_212569_a.png" width="503" height="850" alt="LUNA - 212569">
                </a>

                <div class="carousel-caption">
                    <h3>LUNA - 212569</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/90">
                    <img src="~/Images/Tops/etcetera_spring2016_212570_a.png" width="503" height="850" alt="SPADES - 212570">
                </a>

                <div class="carousel-caption">
                    <h3>SPADES - 212570</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/91">
                    <img src="~/Images/Tops/etcetera_spring2016_212571_a.png" width="503" height="850" alt="INSTINCT - 212571">
                </a>

                <div class="carousel-caption">
                    <h3>INSTINCT - 212571</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/92">
                    <img src="~/Images/Tops/etcetera_spring2016_212577_a.png" width="503" height="850" alt="PALISADES - 212577">
                </a>

                <div class="carousel-caption">
                    <h3>PALISADES - 212577</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/93">
                    <img src="~/Images/Tops/etcetera_spring2016_212581_a.png" width="503" height="850" alt="SYLVAN - 212581">
                </a>

                <div class="carousel-caption">
                    <h3>SYLVAN - 212581</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/94">
                    <img src="~/Images/Tops/etcetera_spring2016_212586_a.png" width="503" height="850" alt="OPALINE - 212586">
                </a>

                <div class="carousel-caption">
                    <h3>OPALINE - 212586</h3>
                </div>
            </div>









            <div class="item">

                <a href="/Items/Details/95">
                    <img src="~/Images/Tops/etcetera_spring2016_212590_a.png" width="503" height="850" alt="POLKADOT - 212590">
                </a>



                <div class="carousel-caption">
                    <h3>POLKADOT - 212590</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/96">
                    <img src="~/Images/Tops/etcetera_spring2016_212596_a.png" width="503" height="850" alt="PARCHMENT - 212596">
                </a>

                <div class="carousel-caption">
                    <h3>PARCHMENT - 212596</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/97">
                    <img src="~/Images/Tops/etcetera_spring2016_212597_a.png" width="503" height="850" alt="AIRY - 212597">
                </a>

                <div class="carousel-caption">
                    <h3>AIRY - 212597</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/98">
                    <img src="~/Images/Tops/etcetera_spring2016_212619_a.png" width="503" height="850" alt="CASABLANCA - 212619">
                </a>

                <div class="carousel-caption">
                    <h3>CASABLANCA - 212619</h3>
                </div>
            </div>

            @*100*@

            <div class="item">
                <a href="/Items/Details/99">
                    <img src="~/Images/Tops/etcetera_spring2016_212790_a.png" width="503" height="850" alt="CHAMBRAY - 212790">
                </a>

                <div class="carousel-caption">
                    <h3>CHAMBRAY - 212790</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/100">
                    <img src="~/Images/Tops/etcetera_summer2016_203947_a.png" width="503" height="850" alt="INDULGE - 203947">
                </a>

                <div class="carousel-caption">
                    <h3>INDULGE - 203947</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/101">
                    <img src="~/Images/Tops/etcetera_summer2016_204902_a.png" width="503" height="850" alt="TAHITI - 204902">
                </a>

                <div class="carousel-caption">
                    <h3>TAHITI - 204902</h3>
                </div>
            </div>











            <div class="item">
                <a href="/Items/Details/102">
                    <img src="~/Images/Tops/etcetera_summer2016_204905_a.png" width="503" height="850" alt="ENGAGE - 204905">
                </a>

                <div class="carousel-caption">
                    <h3>ENGAGE - 204905</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/103">
                    <img src="~/Images/Tops/etcetera_summer2016_204911_a.png" width="503" height="850" alt="FILIGREE - 204911">
                </a>

                <div class="carousel-caption">
                    <h3>FILIGREE - 204911</h3>
                </div>
            </div>





            <div class="item">
                <a href="/Items/Details/104">
                    <img src="~/Images/Tops/etcetera_summer2016_204925_a.png" width="503" height="850" alt="PURITY - 204925">
                </a>

                <div class="carousel-caption">
                    <h3>PURITY - 204925</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/105">
                    <img src="~/Images/Tops/etcetera_summer2016_204936_a.png" width="503" height="850" alt="COCO - 204936">
                </a>

                <div class="carousel-caption">
                    <h3>COCO - 204936</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/106">
                    <img src="~/Images/Tops/etcetera_summer2016_204942_a.png" width="503" height="850" alt="DHARMA - 204942">
                </a>

                <div class="carousel-caption">
                    <h3>DHARMA - 204942</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/107">
                    <img src="~/Images/Tops/etcetera_summer2016_210897_a.png" width="503" height="850" alt="CAPER - 210897">
                </a>

                <div class="carousel-caption">
                    <h3>CAPER - 210897</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/108">
                    <img src="~/Images/Tops/etcetera_summer2016_210899_a.png" width="503" height="850" alt="RELAXING - 210899">
                </a>

                <div class="carousel-caption">
                    <h3>RELAXING - 210899</h3>
                </div>
            </div>

            @*110*@




            <div class="item">
                <a href="/Items/Details/109">
                    <img src="~/Images/Tops/etcetera_summer2016_210900_a.png" width="503" height="850" alt="ADRIFT - 210900">
                </a>

                <div class="carousel-caption">
                    <h3>ADRIFT - 210900</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/110">
                    <img src="~/Images/Tops/etcetera_summer2016_210910_a.png" width="503" height="850" alt="ADRIFT - 210910">
                </a>

                <div class="carousel-caption">
                    <h3>ADRIFT - 210910</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/111">
                    <img src="~/Images/Tops/etcetera_summer2016_210912_a.png" width="503" height="850" alt="RAVEN - 210912">
                </a>

                <div class="carousel-caption">
                    <h3>RAVEN - 210912</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/112">
                    <img src="~/Images/Tops/etcetera_summer2016_210914_a.png" width="503" height="850" alt="VANISH - 210914">
                </a>

                <div class="carousel-caption">
                    <h3>VANISH - 210914</h3>
                </div>
            </div>



            <div class="item">
                <a href="/Items/Details/113">
                    <img src="~/Images/Tops/etcetera_summer2016_210915_a.png" width="503" height="850" alt="GYPSUM - 210915">
                </a>

                <div class="carousel-caption">
                    <h3>GYPSUM - 210915</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/114">
                    <img src="~/Images/Tops/etcetera_summer2016_210918_a.png" width="503" height="850" alt="PATCHOULI - 210918">
                </a>

                <div class="carousel-caption">
                    <h3>PATCHOULI - 210918</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/115">
                    <img src="~/Images/Tops/etcetera_summer2016_210919_a.png" width="503" height="850" alt="BISCAYNE -  210919">
                </a>

                <div class="carousel-caption">
                    <h3>BISCAYNE - 210919</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/116">
                    <img src="~/Images/Tops/etcetera_summer2016_210920_a.png" width="503" height="850" alt="TWINKLE - 210920">
                </a>

                <div class="carousel-caption">
                    <h3>TWINKLE - 210920</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/117">
                    <img src="~/Images/Tops/etcetera_summer2016_210921_a.png" width="503" height="850" alt="NIMBUS - 210921">
                </a>

                <div class="carousel-caption">
                    <h3>NIMBUS - 210921</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/118">
                    <img src="~/Images/Tops/etcetera_summer2016_210922_a.png" width="503" height="850" alt="FRINGED - 210922">
                </a>

                <div class="carousel-caption">
                    <h3>FRINGED - 210922</h3>
                </div>
            </div>


            @*120*@

            <div class="item">
                <a href="/Items/Details/119">
                    <img src="~/Images/Tops/etcetera_summer2016_210923_a.png" width="503" height="850" alt="SANDSTORM - 210923">
                </a>

                <div class="carousel-caption">
                    <h3>SANDSTORM - 210923</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/120">
                    <img src="~/Images/Tops/etcetera_summer2016_210926_a.png" width="503" height="850" alt="PORCINI -  210926">
                </a>

                <div class="carousel-caption">
                    <h3>PORCINI - 210926</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/121">
                    <img src="~/Images/Tops/etcetera_summer2016_210927_a.png" width="503" height="850" alt="GRAVITY - 210927">
                </a>

                <div class="carousel-caption">
                    <h3>GRAVITY - 210927</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/122">
                    <img src="~/Images/Tops/etcetera_summer2016_210928_a.png" width="503" height="850" alt="COOLMINT - 210928">
                </a>

                <div class="carousel-caption">
                    <h3>COOLMINT - 210928</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/123">
                    <img src="~/Images/Tops/etcetera_summer2016_210930_a.png" width="503" height="850" alt="ADOBE - 210930">
                </a>

                <div class="carousel-caption">
                    <h3>ADOBE - 210930</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/124">
                    <img src="~/Images/Tops/etcetera_summer2016_212893_a.png" width="503" height="850" alt="MARTINIQUE - 212893">
                </a>

                <div class="carousel-caption">
                    <h3>MARTINIQUE - 212893</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/125">
                    <img src="~/Images/Tops/etcetera_summer2016_212895_a.png" width="503" height="850" alt="PAPILLON - 212895">
                </a>

                <div class="carousel-caption">
                    <h3>PAPILLON - 212895</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/126">
                    <img src="~/Images/Tops/etcetera_summer2016_212903_a.png" width="503" height="850" alt="SEASALT - 212903">
                </a>

                <div class="carousel-caption">
                    <h3>SEASALT - 212903</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/127">
                    <img src="~/Images/Tops/etcetera_summer2016_212906_a.png" width="503" height="850" alt="CHAKRA - 212906">
                </a>

                <div class="carousel-caption">
                    <h3>CHAKRA - 212906</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/128">
                    <img src="~/Images/Tops/etcetera_summer2016_212907_a.png" width="503" height="850" alt="YALE - 212907">
                </a>

                <div class="carousel-caption">
                    <h3>YALE - 212907</h3>
                </div>
            </div>

            @*130*@

            <div class="item">
                <a href="/Items/Details/129">
                    <img src="~/Images/Tops/etcetera_summer2016_212909_a.png" width="503" height="850" alt="ASHBURY - 212909">
                </a>

                <div class="carousel-caption">
                    <h3>ASHBURY - 212909</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/130">
                    <img src="~/Images/Tops/etcetera_summer2016_212910_a.png" width="503" height="850" alt="SUMMER - 212910">
                </a>

                <div class="carousel-caption">
                    <h3>SUMMER - 212910</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/131">
                    <img>
                </a>
                <img src="~/Images/Tops/etcetera_summer2016_212914_a.png" width="503" height="850" alt="MONTEREY - 212914">
                <div class="carousel-caption">
                    <h3>MONTEREY - 212914</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/132">
                    <img src="~/Images/Tops/etcetera_summer2016_212933_a.png" width="503" height="850" alt="OVERLAY - 212933">
                </a>

                <div class="carousel-caption">
                    <h3>OVERLAY - 212933</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/133">
                    <img src="~/Images/Tops/etcetera_summer2016_212946_a.png" width="503" height="850" alt="SYNERGY - 212946">
                </a>

                <div class="carousel-caption">
                    <h3>SYNERGY - 212946</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/134">
                    <img src="~/Images/Tops/etcetera_summer2016_212949_a.png" width="503" height="850" alt="WILDFLOWER - 212949">
                </a>

                <div class="carousel-caption">
                    <h3>WILDFLOWER - 212949</h3>
                </div>
            </div>

            @*137*@
            @*Begin Skirt Section*@

            <div class="item">
                <img src="~/Images/su16_home_hero-6A.jpg" alt="SKIRTS">
            </div>




            <div class="item">
                <a href="/Items/Details/135">
                    <img src="~/Images/Skirts/etcetera_spring2016_214503_a.png" width="503" height="850" alt="ETRUSCAN - 214503">
                </a>

                <div class="carousel-caption">
                    <h3>ETRUSCAN - 214503</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/136">
                    <img src="~/Images/Skirts/etcetera_spring2016_214513_a.png" width="503" height="850" alt="DUNES - 214513">
                </a>

                <div class="carousel-caption">
                    <h3>DUNES - 214513</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/137">
                    <img src="~/Images/Skirts/etcetera_spring2016_214518_a.png" width="503" height="850" alt="BONBON - 214518">
                </a>

                <div class="carousel-caption">
                    <h3>BONBON - 214518</h3>
                </div>
            </div>
            @*140*@

            <div class="item">
                <a href="/Items/Details/138">
                    <img src="~/Images/Skirts/etcetera_spring2016_214521_a.png" width="503" height="850" alt="DIAGONAL - 214521">
                </a>

                <div class="carousel-caption">
                    <h3>DIAGONAL - 214521</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/139">
                    <img src="~/Images/Skirts/etcetera_spring2016_214524_a.png" width="503" height="850" alt="MODERN - 214524 ">
                </a>

                <div class="carousel-caption">
                    <h3>MODERN - 214524</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/140">
                    <img src="~/Images/Skirts/etcetera_spring2016_214525_a.png" width="503" height="850" alt="APPLIQUE - 214525">
                </a>

                <div class="carousel-caption">
                    <h3>APPLIQUE - 214525</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/141">
                    <img src="~/Images/Skirts/etcetera_spring2016_214540_a.png" width="503" height="850" alt="FREQUENCY - 214540">
                </a>

                <div class="carousel-caption">
                    <h3>FREQUENCY - 214540</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/142">
                    <img src="~/Images/Skirts/etcetera_spring2016_214556_a.png" width="503" height="850" alt="CALIENTE - 214556">
                </a>

                <div class="carousel-caption">
                    <h3>CALIENTE - 214556 </h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/143">
                    <img src="~/Images/Skirts/etcetera_spring2016_214560_a.png" width="503" height="850" alt="STRAIGHT - 214560">
                </a>

                <div class="carousel-caption">
                    <h3>STRAIGHT - 214560</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/144">
                    <img src="~/Images/Skirts/etcetera_spring2016_214568_a.png" width="503" height="850" alt="VIVID - 214568">
                </a>

                <div class="carousel-caption">
                    <h3>VIVID - 214568</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/145">
                    <img src="~/Images/Skirts/etcetera_spring2016_214584_a.png" width="503" height="850" alt="SLEEK - 214584">
                </a>

                <div class="carousel-caption">
                    <h3>SLEEK - 214584</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/146">
                    <img src="~/Images/Skirts/etcetera_spring2016_214607_a.png" width="503" height="850" alt="COOKIE - 214607">
                </a>

                <div class="carousel-caption">
                    <h3>COOKIE - 214607</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/147">
                    <img src="~/Images/Skirts/etcetera_spring2016_214614_a.png" width="503" height="850" alt="RIZZO - 214614">
                </a>
                <div class="carousel-caption">
                    <h3>RIZZO - 214614</h3>
                </div>
            </div>

            @*150*@

            <div class="item">
                <a href="/Items/Details/148">
                    <img src="~/Images/Skirts/etcetera_spring2016_214615_a.png" width="503" height="850" alt="HORIZON - 214615">
                </a>
                <div class="carousel-caption">
                    <h3>HORIZON - 214615</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/149">
                    <img src="~/Images/Skirts/etcetera_spring2016_214617_a.png" width="503" height="850" alt="TUTTIFRUITY - 214617">
                </a>
                <div class="carousel-caption">
                    <h3>TUTTIFRUITY - 214617</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/150">
                    <img src="~/Images/Skirts/etcetera_spring2016_214791_a.png" width="503" height="850" alt="FANCY - 214791">
                </a>
                <div class="carousel-caption">
                    <h3>FANCY - 214791</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/151">
                    <img src="~/Images/Skirts/etcetera_spring2016_214796_a.png" width="503" height="850" alt="DELANO - 214796">
                </a>
                <div class="carousel-caption">
                    <h3>DELANO - 214796</h3>
                </div>
            </div>













            <div class="item">
                <a href="/Items/Details/152">
                    <img src="~/Images/Skirts/etcetera_spring2016_214797_a.png" width="503" height="850" alt="CLEMATIS - 214797">
                </a>
                <div class="carousel-caption">
                    <h3>CLEMATIS - 214797</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/153">
                    <img src="~/Images/Skirts/etcetera_spring2016_214798_a.png" width="503" height="850" alt="HIPPIE - 214798">
                </a>
                <div class="carousel-caption">
                    <h3>HIPPIE - 214798</h3>
                </div>
            </div>





            <div class="item">
                <a href="/Items/Details/154">
                    <img src="~/Images/Skirts/etcetera_spring2016_414507_a.png" width="503" height="850" alt="AMBROSIA - 414507">
                </a>
                <div class="carousel-caption">
                    <h3>AMBROSIA - 414507</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/155">
                    <img src="~/Images/Skirts/etcetera_spring2016_414523_a.png" width="503" height="850" alt="MARVELOUS - 414523">
                </a>
                <div class="carousel-caption">
                    <h3>MARVELOUS - 414523</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/156">
                    <img src="~/Images/Skirts/etcetera_spring2016_414531_a.png" width="503" height="850" alt="LACQUERED - 414531">
                </a>
                <div class="carousel-caption">
                    <h3>LACQUERED - 414531</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/157">
                    <img src="~/Images/Skirts/etcetera_spring2016_414543_a.png" width="503" height="850" alt="SARAFINA - 414543">
                </a>
                <div class="carousel-caption">
                    <h3>SARAFINA - 414543</h3>
                </div>
            </div>



            @*160*@

            <div class="item">
                <a href="/Items/Details/158">
                    <img src="~/Images/Skirts/etcetera_spring2016_414585_a.png" width="503" height="850" alt="LEILA - 414585">
                </a>
                <div class="carousel-caption">
                    <h3>LEILA - 414585</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/159">
                    <img src="~/Images/Skirts/etcetera_spring2016_414789_a.png" width="503" height="850" alt="FELLINI - 414789">
                </a>
                <div class="carousel-caption">
                    <h3>FELLINI - 414789</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/160">
                    <img src="~/Images/Skirts/etcetera_summer2016_214889_a.png" width="503" height="850" alt="NATIVE - 214889">
                </a>
                <div class="carousel-caption">
                    <h3>NATIVE - 214889</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/161">
                    <img src="~/Images/Skirts/etcetera_summer2016_214912_a.png" width="503" height="850" alt="CHESAPEAKE - 214912">
                </a>
                <div class="carousel-caption">
                    <h3>CHESAPEAKE - 214912</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/162">
                    <img src="~/Images/Skirts/etcetera_summer2016_214913_a.png" width="503" height="850" alt="DARLING - 214913">
                </a>

                <div class="carousel-caption">
                    <h3>DARLING - 214913</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/163">
                    <img src="~/Images/Skirts/etcetera_summer2016_214927_a.png" width="503" height="850" alt="OCEANA - 214927">
                </a>

                <div class="carousel-caption">
                    <h3>OCEANA - 214927</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/164">
                    <img src="~/Images/Skirts/etcetera_summer2016_214932_a.png" width="503" height="850" alt="INTRICATE - 214932">
                </a>

                <div class="carousel-caption">
                    <h3>INTRICATE - 214932</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/165">
                    <img src="~/Images/Skirts/etcetera_summer2016_214939_a.png" width="503" height="850" alt="GAZEBO - 214939">
                </a>

                <div class="carousel-caption">
                    <h3>GAZEBO - 214939</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/166">
                    <img src="~/Images/Skirts/etcetera_summer2016_214944_a.png" width="503" height="850" alt="SAHARA - 214944">
                </a>
                <div class="carousel-caption">
                    <h3>SAHARA - 214944</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/167">
                    <img src="~/Images/Skirts/etcetera_summer2016_214945_a.png" width="503" height="850" alt="RESORT - 214945">
                </a>
                <div class="carousel-caption">
                    <h3>RESORT - 214945</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/168">
                    <img src="~/Images/Skirts/etcetera_summer2016_414892_a.png" width="503" height="850" alt="DIVINE - 414892">
                </a>
                <div class="carousel-caption">
                    <h3>DIVINE - 414892</h3>
                </div>
            </div>

            @*170*@

            <div class="item">

                <img src="~/Images/su16_home_hero-6.jpg" alt="PANTS">
            </div>

            <div class="item">
                <a href="/Items/Details/169">
                    <img src="~/Images/Pants/etcetera_spring2016_208606_a.png" width="503" height="850" alt="WANDERER - 208606">
                </a>
                <div class="carousel-caption">
                    <h3>WANDERER - 208606</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/170">
                    <img src="~/Images/Pants/etcetera_spring2016_209504_a.png" width="503" height="850" alt="UPBEAT - 209504">

                </a>
                <div class="carousel-caption">
                    <h3>UPBEAT - 209504</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/171">
                    <img src="~/Images/Pants/etcetera_spring2016_209506_a.png" width="503" height="850" alt="CALVADOS - 209506">
                </a>
                <div class="carousel-caption">
                    <h3>CALVADOS - 209506</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/172">
                    <img src="~/Images/Pants/etcetera_spring2016_209512_a.png" width="503" height="850" alt="RILEY - 209512">
                </a>
                <div class="carousel-caption">
                    <h3>RILEY - 209512</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/173">
                    <img src="~/Images/Pants/etcetera_spring2016_209515_a.png" width="503" height="850" alt="BLUEJEAN - 209515">

                </a>
                <div class="carousel-caption">
                    <h3>BLUEJEAN - 209515</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/174">
                    <img src="~/Images/Pants/etcetera_spring2016_209533_a.png" width="503" height="850" alt="PITCH - 209533">

                </a>
                <div class="carousel-caption">
                    <h3>PITCH - 209533</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/175">
                    <img src="~/Images/Pants/etcetera_spring2016_209536_a.png" width="503" height="850" alt="KNOCKOUT - 209536">
                </a>
                <div class="carousel-caption">
                    <h3>KNOCKOUT - 209536</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/176">
                    <img src="~/Images/Pants/etcetera_spring2016_209546_a.png" width="503" height="850" alt="TROUSER - 209546">
                </a>
                <div class="carousel-caption">
                    <h3>TROUSER - 209546</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/177">
                    <img src="~/Images/Pants/etcetera_spring2016_209549_a.png" width="503" height="850" alt="ROMA - 209549">
                </a>
                <div class="carousel-caption">
                    <h3>ROMA - 209549</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/178">
                    <img src="~/Images/Pants/etcetera_spring2016_209555_a.png" width="503" height="850" alt="ZIPPED - 209555">
                </a>
                <div class="carousel-caption">
                    <h3>ZIPPED - 209555</h3>
                </div>
            </div>






            @*180*@

            <div class="item">
                <a href="/Items/Details/179">
                    <img src="~/Images/Pants/etcetera_spring2016_209579_a.png" width="503" height="850" alt="SPORTIF - 209579">
                </a>

                <div class="carousel-caption">
                    <h3>SPORTIF - 209579</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/180">
                    <img src="~/Images/Pants/etcetera_spring2016_209582_a.png" width="503" height="850" alt="NAUTILUS - 209582">
                </a>

                <div class="carousel-caption">
                    <h3>NAUTILUS - 209582</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/181">
                    <img src="~/Images/Pants/etcetera_spring2016_209589_a.png" width="503" height="850" alt="OXYGEN - 209589">
                </a>

                <div class="carousel-caption">
                    <h3>OXYGEN - 209589</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/182">
                    <img src="~/Images/Pants/etcetera_spring2016_209608_a.png" width="503" height="850" alt="ALMONDINE - 209608">
                </a>

                <div class="carousel-caption">
                    <h3>ALMONDINE - 209608</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/183">
                    <img src="~/Images/Pants/etcetera_spring2016_209618_a.png" width="503" height="850" alt="CHABLIS - 209618">
                </a>

                <div class="carousel-caption">
                    <h3>CHABLIS - 209618</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/184">
                    <img src="~/Images/Pants/etcetera_spring2016_209794_a.png" width="503" height="850" alt="STAMPEDE - 209794">
                </a>

                <div class="carousel-caption">
                    <h3>STAMPEDE - 209794</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/185">
                    <img src="~/Images/Pants/etcetera_spring2016_409502_a.png" width="503" height="850" alt="BIANCA - 409502">
                </a>

                <div class="carousel-caption">
                    <h3>BIANCA - 409502</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/186">
                    <img src="~/Images/Pants/etcetera_spring2016_409561_a.png" width="503" height="850" alt="TRULY - 409561">
                </a>

                <div class="carousel-caption">
                    <h3>TRULY - 409561</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/187">
                    <img src="~/Images/Pants/etcetera_spring2016_409786_a.png" width="503" height="850" alt="ENIGMA - 409786">
                </a>

                <div class="carousel-caption">
                    <h3>ENIGMA - 409786</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/188">
                    <img src="~/Images/Pants/etcetera_spring2016_409789_a.png" width="503" height="850" alt="FELLINI - 409789">
                </a>

                <div class="carousel-caption">
                    <h3>FELLINI - 409789</h3>
                </div>
            </div>


            @*190*@
            <div class="item">
                <a href="/Items/Details/189">
                    <img src="~/Images/Pants/etcetera_summer2016_208929_a.png" width="503" height="850" alt="ANGELICA - 208929">
                </a>

                <div class="carousel-caption">
                    <h3>ANGELICA - 208929</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/190">
                    <img src="~/Images/Pants/etcetera_summer2016_209888_a.png" width="503" height="850" alt="MASON - 209888">
                </a>

                <div class="carousel-caption">
                    <h3>MASON - 209888</h3>
                </div>
            </div>


            <div class="item">
                <a href="/Items/Details/191">
                    <img src="~/Images/Pants/etcetera_summer2016_209890_a.png" width="503" height="850" alt="FRESH - 209890">
                </a>

                <div class="carousel-caption">
                    <h3>FRESH - 209890</h3>
                </div>
            </div>


            <div class="item">
                <a href="/Items/Details/192">
                    <img src="~/Images/Pants/etcetera_summer2016_209897_a.png" width="503" height="850" alt="Chania">
                </a>

                <div class="carousel-caption">
                    <h3>JOURNEY - 209897</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/193">
                    <img src="~/Images/Pants/etcetera_summer2016_209904_a.png" width="503" height="850" alt="MINTY - 209904">
                </a>

                <div class="carousel-caption">
                    <h3>MINTY - 209904</h3>
                </div>
            </div>

            <div class="item">
                <a href="/Items/Details/194">
                    <<img src="~/Images/Pants/etcetera_summer2016_209905_a.png" width="503" height="850" alt="BLUEMOON - 209905">
                </a>

                <div class="carousel-caption">
                    <h3>BLUEMOON - 209905</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/195">
                    <img src="~/Images/Pants/etcetera_summer2016_209919_a.png" width="503" height="850" alt="FATHOM - 209919">
                </a>

                <div class="carousel-caption">
                    <h3>FATHOM - 209919</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/196">
                    <img src="~/Images/Pants/etcetera_summer2016_209924_a.png" width="503" height="850" alt="NEUTRAL - 209924">

                    <div class="carousel-caption">
                        <h3>NEUTRAL - 209924</h3>
                    </div>
            </div>

            <div class="item">
                <a href="/Items/Details/197">
                    <img src="~/Images/Pants/etcetera_summer2016_209936_a.png" width="503" height="850" alt="MUSE - 209936">
                </a>

                <div class="carousel-caption">
                    <h3>MUSE - 209936</h3>
                </div>
            </div>

            <div class="item">
                <a href="/Items/Details/198">
                    <img src="~/Images/Pants/etcetera_summer2016_209943_a.png" width="503" height="850" alt="TOBACCO - 209943">
                </a>

                <div class="carousel-caption">
                    <h3>TOBACCO - 209943</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/199">
                    <img src="~/Images/Pants/etcetera_summer2016_408942_a.png" width="503" height="850" alt="NAVIGATOR - 408942">
                </a>

                <div class="carousel-caption">
                    <h3>NAVIGATOR - 408942</h3>
                </div>
            </div>







            @*201*@
            @*Begin Dresses*@

            <div class="item">
                <img src="~/Images/su16_home_hero-8.jpg" alt="DRESSES">
            </div>
            <div class="item">
                <a href="/Items/Details/200">
                    <img src="~/Images/Dresses/etcetera_spring2016_215501_a.png" width="503" height="850" alt="ENERGY - 215501">
                </a>

                <div class="carousel-caption">
                    <h3>ENERGY - 215501</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/201">
                    <img src="~/Images/Dresses/etcetera_spring2016_215516_a.png" width="503" height="850" alt="AGLOW - 215516">
                </a>

                <div class="carousel-caption">
                    <h3>AGLOW - 215516</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/202">
                    <img src="~/Images/Dresses/etcetera_spring2016_215519_a.png" width="503" height="850" alt="OBLIVION - 215519">
                </a>

                <div class="carousel-caption">
                    <h3>OBLIVION - 215519</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/203">
                    <img src="~/Images/Dresses/etcetera_spring2016_215520_a.png" width="503" height="850" alt="MARLOWE - 215520">
                </a>

                <div class="carousel-caption">
                    <h3>MARLOWE - 215520</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/204">
                    <img src="~/Images/Dresses/etcetera_spring2016_215528_a.png" width="503" height="850" alt="ANGULAR - 215528">
                </a>

                <div class="carousel-caption">
                    <h3>ANGULAR - 215528</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/205">
                    <img src="~/Images/Dresses/etcetera_spring2016_215529_a.png" width="503" height="850" alt="KASHMIR - 215529">
                </a>

                <div class="carousel-caption">
                    <h3>KASHMIR - 215529</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/206">
                    <img src="~/Images/Dresses/etcetera_spring2016_215541_a.png" width="503" height="850" alt="FLAMINGO - 215541">
                </a>

                <div class="carousel-caption">
                    <h3>FLAMINGO - 215541</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/207">
                    <img src="~/Images/Dresses/etcetera_spring2016_215542_a.png" width="503" height="850" alt="STEINWAY - 215542">
                </a>

                <div class="carousel-caption">
                    <h3>STEINWAY - 215542</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/208">
                    <img src="~/Images/Dresses/etcetera_spring2016_215552_a.png" width="503" height="850" alt="BONVOYAGE - 215552">
                </a>

                <div class="carousel-caption">
                    <h3>BONVOYAGE - 215552</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/209">
                    <img src="~/Images/Dresses/etcetera_spring2016_215553_a.png" width="503" height="850" alt="FEMININE - 215553">
                </a>

                <div class="carousel-caption">
                    <h3>FEMININE - 215553</h3>
                </div>
            </div>


            @*210*@

            <div class="item">
                <a href="/Items/Details/210">
                    <img src="~/Images/Dresses/etcetera_spring2016_215573_a.png" width="503" height="850" alt="KANSAS - 215573">
                </a>

                <div class="carousel-caption">
                    <h3>KANSAS - 215573</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/211">
                    <img src="~/Images/Dresses/etcetera_spring2016_215574_a.png" width="503" height="850" alt="ELOQUENT - 215574">
                </a>

                <div class="carousel-caption">
                    <h3>ELOQUENT - 215574</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/212">
                    <img src="~/Images/Dresses/etcetera_spring2016_215594_a.png" width="503" height="850" alt="OREO - 215594">
                </a>

                <div class="carousel-caption">
                    <h3>OREO - 215594</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/213">
                    <img src="~/Images/Dresses/etcetera_spring2016_215599_a.png" width="503" height="850" alt="THRILLER - 215599">
                </a>

                <div class="carousel-caption">
                    <h3>THRILLER - 215599</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/214">
                    <img src="~/Images/Dresses/etcetera_spring2016_215613_a.png" width="503" height="850" alt="ISLAND - 215613">
                </a>

                <div class="carousel-caption">
                    <h3>ISLAND - 215613</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/215">
                    <img src="~/Images/Dresses/etcetera_spring2016_215787_a.png" width="503" height="850" alt="FLORA - 215787">
                </a>

                <div class="carousel-caption">
                    <h3>FLORA - 215787</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/216">
                    <img src="~/Images/Dresses/etcetera_spring2016_415526_a.png" width="503" height="850" alt="DAYBREAK - 415526">
                </a>

                <div class="carousel-caption">
                    <h3>DAYBREAK - 415526</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/217">
                    <img src="~/Images/Dresses/etcetera_spring2016_415563_a.png" width="503" height="850" alt="PINKLADY - 415563">
                </a>

                <div class="carousel-caption">
                    <h3>PINKLADY - 415563</h3>
                </div>
            </div>


            @*220*@

            <div class="item">
                <a href="/Items/Details/218">
                    <img src="~/Images/Dresses/etcetera_summer2016_215886_a.png" width="503" height="850" alt="ALLEGRA - 215886">
                </a>

                <div class="carousel-caption">
                    <h3>ALLEGRA - 215886</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/219">
                    <img src="~/Images/Dresses/etcetera_summer2016_215887_a.png" width="503" height="850" alt="SUNDANCE - 215887">
                </a>

                <div class="carousel-caption">
                    <h3>SUNDANCE - 215887</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/220">
                    <img src="~/Images/Dresses/etcetera_summer2016_215896_a.png" width="503" height="850" alt="VILLA - 215896">
                </a>

                <div class="carousel-caption">
                    <h3>VILLA - 215896</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/221">
                    <img src="~/Images/Dresses/etcetera_summer2016_215899_a.png" width="503" height="850" alt="CASTAWAY - 215899">
                </a>

                <div class="carousel-caption">
                    <h3>CASTAWAY - 215899</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/222">
                    <img src="~/Images/Dresses/etcetera_summer2016_215915_a.png" width="503" height="850" alt="BLUEGRASS - 215915">
                </a>

                <div class="carousel-caption">
                    <h3>BLUEGRASS - 215915</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/223">
                    <img src="~/Images/Dresses/etcetera_summer2016_215917_a.png" width="503" height="850" alt="TERRACE - 215917">
                </a>

                <div class="carousel-caption">
                    <h3>TERRACE - 215917</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/224">
                    <img src="~/Images/Dresses/etcetera_summer2016_215920_a.png" width="503" height="850" alt="MOD - 215920">
                </a>

                <div class="carousel-caption">
                    <h3>MOD - 215920</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/225">
                    <img src="~/Images/Dresses/etcetera_summer2016_215928_a.png" width="503" height="850" alt="SWAG - 215928">
                </a>

                <div class="carousel-caption">
                    <h3>SWAG - 215928</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/226">
                    <img src="~/Images/Dresses/etcetera_summer2016_215931_a.png" width="503" height="850" alt="ORION - 215931">
                </a>

                <div class="carousel-caption">
                    <h3>ORION - 215931</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/227">
                    <img src="~/Images/Dresses/etcetera_summer2016_215934_a.png" width="503" height="850" alt="EBONY - 215934">
                </a>

                <div class="carousel-caption">
                    <h3>EBONY - 215934</h3>
                </div>
            </div>





            <div class="item">
                <a href="/Items/Details/228">
                    <img src="~/Images/Dresses/etcetera_summer2016_215937_a.png" width="503" height="850" alt="FOCUS - 215937">
                </a>

                <div class="carousel-caption">
                    <h3>FOCUS - 215937</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/229">
                    <img src="~/Images/Dresses/etcetera_summer2016_215941_a.png" width="503" height="850" alt="BAY - 215941">
                </a>

                <div class="carousel-caption">
                    <h3>BAY - 215941</h3>
                </div>
            </div>

            @*234*@

            <div class="item">

                <img src="~/Images/su16_home_hero-7.jpg" alt="ACCESSORIES">
            </div>

            <div class="item">
                <a href="/Items/Details/462">
                    <img src="~/Images/Accessories/etcetera_spring2016_216526_a.png" width="503" height="850" alt="RITZY - 216526">
                </a>

                <div class="carousel-caption">
                    <h3>RITZY - 216526</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/463">
                    <img src="~/Images/Accessories/etcetera_spring2016_216527_a.png" width="503" height="850" alt="SIENNA - 216527">
                </a>

                <div class="carousel-caption">
                    <h3>SIENNA - 216527</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/464">
                    <img src="~/Images/Accessories/etcetera_spring2016_216528_a.png" width="503" height="850" alt="GOLDIE - 216528">
                </a>

                <div class="carousel-caption">
                    <h3>GOLDIE - 216528</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/465">
                    <img src="~/Images/Accessories/etcetera_spring2016_217530_a.png" width="503" height="850" alt="TIVOLI - 217530">
                </a>

                <div class="carousel-caption">
                    <h3>TIVOLI - 217530</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/466">
                    <img src="~/Images/Accessories/etcetera_spring2016_217785_a.png" width="503" height="850" alt="RALEIGH - 217785">
                </a>

                <div class="carousel-caption">
                    <h3>RALEIGH - 217785</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/467">
                    <img src="~/Images/Accessories/etcetera_spring2016_217786_a.png" width="503" height="850" alt="KATMANDU - 217786">
                </a>

                <div class="carousel-caption">
                    <h3>KATMANDU - 217786</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/468">
                    <img src="~/Images/Accessories/etcetera_spring2016_217795_a.png" width="503" height="850" alt="VERONA - 217795">
                </a>

                <div class="carousel-caption">
                    <h3>VERONA - 217795</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/469">
                    <img src="~/Images/Accessories/etcetera_summer2016_216938_a.png" width="503" height="850" alt="EMBOSSED - 216938">
                </a>

                <div class="carousel-caption">
                    <h3>EMBOSSED - 216938</h3>
                </div>
            </div>





            <div class="item">
                <a href="/Items/Details/470">
                    <img src="~/Images/Accessories/etcetera_summer2016_216939_a.png" width="503" height="850" alt="TASSEL - 216939">
                </a>
                <div class="carousel-caption">
                    <h3>TASSEL - 216939</h3>
                </div>
            </div>








            <div class="item">
                <a href="/Items/Details/471">
                    <img src="~/Images/Accessories/etcetera_summer2016_217940_a.png" width="503" height="850" alt="GEO - 217940">
                </a>

                <div class="carousel-caption">
                    <h3>GEO - 217940</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/472">
                    <img src="~/Images/Accessories/etcetera_summer2016_217951_a.png" width="503" height="850" alt="BLUSH - 217951">
                </a>

                <div class="carousel-caption">
                    <h3>BLUSH - 217951</h3>
                </div>
            </div>


            @*244*@


            <div class="item">
                <img src="~/Images/su16_home_hero-9.jpg" alt="NECESSITIES">
            </div>

            <div class="item">
                <a href="/Items/Details/473">
                    <img src="~/Images/Necessities/etcetera_spring2016_218070_a.png" width="503" height="850" alt="NUDE - 218070">
                </a>
                <div class="carousel-caption">
                    <h3>NUDE - 218070</h3>
                </div>
            </div>

            <div class="item">
                <a href="/Items/Details/474">
                    <img src="~/Images/Necessities/etcetera_spring2016_218071_a.png" width="503" height="850" alt="BLANC - 218071">
                </a>
                <div class="carousel-caption">
                    <h3>BLANC - 218071</h3>
                </div>
            </div>

            <div class="item">
                <a href="/Items/Details/475">
                    <img src="~/Images/Necessities/etcetera_spring2016_218072_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>ORE	- 218072</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/476">
                    <img src="~/Images/Necessities/etcetera_spring2016_218079_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>TANNED - 218079</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/477">
                    <img src="~/Images/Necessities/etcetera_spring2016_218080_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>BONE - 218080</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/478">
                    <img src="~/Images/Necessities/etcetera_spring2016_218081_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>FAIR - 218081</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/479">
                    <img src="~/Images/Necessities/etcetera_spring2016_218082_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>ECHO - 218082</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/480">
                    <img src="~/Images/Necessities/etcetera_spring2016_218083_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>PUMA - 218083</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/481">
                    <img src="~/Images/Necessities/etcetera_spring2016_219279_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>PEARLDROP - 219279</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/482">
                    <img src="~/Images/Necessities/etcetera_spring2016_219280_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>LEAD - 219280</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/483">
                    <img src="~/Images/Necessities/etcetera_spring2016_219281_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>CLOVE - 219281</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/484">
                    <img src="~/Images/Necessities/etcetera_spring2016_219282_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>EGGSHELL - 219282</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/485">
                    <img src="~/Images/Necessities/etcetera_spring2016_219283_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>INDUSTRIAL - 219283</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/486">
                    <img src="~/Images/Necessities/etcetera_spring2016_219284_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>TIMBER - 219284</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/487">
                    <img src="~/Images/Necessities/etcetera_spring2016_219285_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>ABYSS - 219285</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/488">
                    <img src="~/Images/Necessities/etcetera_spring2016_219286_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>ANGEL - 219286</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/489">
                    <img src="~/Images/Necessities/etcetera_spring2016_219287_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>DEPTH - 219287</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/490">
                    <img src="~/Images/Necessities/etcetera_spring2016_219288_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>DOVE - 219288</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/491">
                    <img src="~/Images/Necessities/etcetera_spring2016_219289_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>TRUE - 219289</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/492">
                    <img src="~/Images/Necessities/etcetera_spring2016_219291_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>PEPPER - 219291</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/493">
                    <img src="~/Images/Necessities/etcetera_spring2016_219292_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>MOON - 219292</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/494">
                    <img src="~/Images/Necessities/etcetera_spring2016_219293_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>LICORICE - 219293</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/495">
                    <img src="~/Images/Necessities/etcetera_spring2016_219294_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>HALO - 219294</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/496">
                    <img src="~/Images/Necessities/etcetera_spring2016_219295_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>CADET - 219295</h3>
                </div>
            </div>
        </div>
    </center>




    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


