@{
    ViewBag.Title = "Schedule your private shopping appointment";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Marya Weisling<br />
    at SharpShop.direct <br />
    Bloomfield Hills, MI 48302<br />
   
    248.703.6385
</address>

<address>
    <strong>send us an email:</strong>   <a href="mailto:marya194@hotmail.com">marya194@hotmail.com</a><br />

</address>