@{
    ViewBag.Title = "Schedule your own session";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Marya Weisling<br />
    at SharpShop.direct <br />
    Bloomfield Hills, MI 00000<br />
    <abbr title="Phone">P:</abbr>
    000.555.0100
</address>

<address>
    <strong>send us an email:</strong>   <a href="mailto:marya194@gmail.com">marya194@gmail.com</a><br />

</address>