@{
    ViewBag.Title = "Jackets";
}

@*<h2>Collections</h2>*@


<div id="myCarousel" class="carousel slide" data-ride="carousel">
  
    <!-- Wrapper for slides -->
    <center>
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img src="~/Images/su16_home_hero-4.jpg" alt="JACKETS">
            </div>
            <div class="item">
                <a href="/Items/Details/1">
                    <img src="~/Images/Jackets/etcetera_spring2016_205500_a.png" width="503" height="850" alt="VELOCITY - 205500">
                </a>
                <div class="carousel-caption">
                    <h3>VELOCITY - 205500</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/2">
                    <img src="~/Images/Jackets/etcetera_spring2016_205547_a.png" width="503" height="850" alt="GLOBAL - 205547">
                </a>
                <div class="carousel-caption">
                    <h3>GLOBAL - 205547</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/3">
                    <img src="~/Images/Jackets/etcetera_spring2016_205557_a.png" width="503" height="850" alt="COAST - 205557">
                </a>
                <div class="carousel-caption">
                    <h3>COAST - 205557</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/4">
                    <img src="~/Images/Jackets/etcetera_spring2016_205566_a.png" width="503" height="850" alt="ATMOSPHERE - 205566">
                </a>
                <div class="carousel-caption">
                    <h3>ATMOSPHERE - 205566</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/5">
                    <img src="~/Images/Jackets/etcetera_spring2016_205575_a.png" width="503" height="850" alt="IMAGE - 205575">
                </a>

                <div class="carousel-caption">
                    <h3>IMAGE - 205575</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/6">
                    <img src="~/Images/Jackets/etcetera_spring2016_205580_a.png" width="503" height="850" alt="JETSET - 205580">
                </a>

                <div class="carousel-caption">
                    <h3>JETSET - 205580</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/7">
                    <img src="~/Images/Jackets/etcetera_spring2016_205604_a.png" width="503" height="850" alt="FLOWERPLAY - 205604">
                </a>

                <div class="carousel-caption">
                    <h3>FLOWERPLAY - 205604</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/8">
                    <img src="~/Images/Jackets/etcetera_spring2016_205605_a.png" width="503" height="850" alt="ULTIMATE - 205605">
                </a>

                <div class="carousel-caption">
                    <h3>ULTIMATE - 205605</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/9">
                    <img src="~/Images/Jackets/etcetera_spring2016_205785_a.png" width="503" height="850" alt="CHAMPAGNE - 205785">
                </a>

                <div class="carousel-caption">
                    <h3>CHAMPAGNE - 205785</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/10">
                    <img src="~/Images/Jackets/etcetera_spring2016_205788_a.png" width="503" height="850" alt="BARLEY - 205788">
                </a>

                <div class="carousel-caption">
                    <h3>BARLEY - 205788</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/11">
                    <img src="~/Images/Jackets/etcetera_spring2016_405502_a.png" width="503" height="850" alt="BIANCA - 405502">
                </a>

                <div class="carousel-caption">
                    <h3>BIANCA - 405502</h3>
                </div>
            </div>
            <div class="item">

                <a href="/Items/Details/12">
                    <img src="~/Images/Jackets/etcetera_spring2016_405507_a.png" width="503" height="850" alt="AMBROSIA - 405507">
                </a>

                <div class="carousel-caption">
                    <h3>AMBROSIA - 405507</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/13">
                    <img src="~/Images/Jackets/etcetera_spring2016_405523_a.png" width="503" height="850" alt="MARVELOUS - 405523">
                </a>

                <div class="carousel-caption">
                    <h3>MARVELOUS - 405523</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/14">
                    <img src="~/Images/Jackets/etcetera_spring2016_405526_a.png" width="503" height="850" alt="DAYBREAK - 405526">
                </a>

                <div class="carousel-caption">
                    <h3>DAYBREAK - 405526</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/15">
                    <img src="~/Images/Jackets/etcetera_spring2016_405531_a.png" width="503" height="850" alt="LACQUERED - 405531">
                </a>

                <div class="carousel-caption">
                    <h3>LACQUERED - 405531</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/16">
                    <img src="~/Images/Jackets/etcetera_spring2016_405543_a.png" width="503" height="850" alt="SARAFINA - 405543">
                </a>

                <div class="carousel-caption">
                    <h3>SARAFINA - 405543</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/17">
                    <img src="~/Images/Jackets/etcetera_spring2016_405561_a.png" width="503" height="850" alt="TRULY - 405561">
                </a>

                <div class="carousel-caption">
                    <h3>TRULY - 405561</h3>
                </div>
            </div>



            <div class="item">


                <a href="/Items/Details/18">
                    <img src="~/Images/Jackets/etcetera_spring2016_405563_a.png" width="503" height="850" alt="PINKLADY - 405563">
                </a>



                <div class="carousel-caption">
                    <h3>PINKLADY - 405563</h3>
                </div>
            </div>
            <div class="item">

                <a href="/Items/Details/19">
                    <img src="~/Images/Jackets/etcetera_spring2016_405585_a.png" width="503" height="850" alt="CHARNA - 405585">
                </a>


                <div class="carousel-caption">
                    <h3>CHARNA - 405585</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/20">
                    <img src="~/Images/Jackets/etcetera_spring2016_405786_a.png" width="503" height="850" alt="ENIGMA - 405786">
                </a>

                <div class="carousel-caption">
                    <h3>ENIGMA - 405786</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/21">
                    <img src="~/Images/Jackets/etcetera_spring2016_405789_a.png" width="503" height="850" alt="FELLINI - 405789">
                </a>

                <div class="carousel-caption">
                    <h3>FELLINI - 405789</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/22">
                    <img src="~/Images/Jackets/etcetera_summer2016_205885_a.png" width="503" height="850" alt="PEKOE - 205885">
                </a>

                <div class="carousel-caption">
                    <h3>PEKOE - 205885</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/23">
                    <img src="~/Images/Jackets/etcetera_summer2016_205891_a.png" width="503" height="850" alt="NUTSHELL - 205891">
                </a>

                <div class="carousel-caption">
                    <h3>NUTSHELL - 205891</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/24">
                    <img src="~/Images/Jackets/etcetera_summer2016_205900_a.png" width="503" height="850" alt="JAVA - 205900">
                </a>


                <div class="carousel-caption">
                    <h3>JAVA - 205900</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/25">
                    <img src="~/Images/Jackets/etcetera_summer2016_205930_a.png" width="503" height="850" alt="TONIC - 205930">
                </a>

                <div class="carousel-caption">
                    <h3>TONIC - 205930</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/26">
                    <img src="~/Images/Jackets/etcetera_summer2016_205951_a.png" width="503" height="850" alt="J'ADORE - 205951">
                </a>

                <div class="carousel-caption">
                    <h3>J'ADORE - 205951</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/27">
                    <img src="~/Images/Jackets/etcetera_summer2016_405892_a.png" width="503" height="850" alt="DIVINE - 405892">
                </a>

                <div class="carousel-caption">
                    <h3>DIVINE - 405892</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/28">
                    <img src="~/Images/Jackets/etcetera_summer2016_405942_a.png" width="503" height="850" alt="NAVIGATOR - 405942">
                </a>

                <div class="carousel-caption">
                    <h3>NAVIGATOR - 405942</h3>
                </div>
            </div>
            @*Number 28 index in Jackets*@


        </div>
    </center>



    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
