
@{
    ViewBag.Title = "Necessities";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <center>
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img src="~/Images/su16_home_hero-9.jpg" alt="NECESSITIES">
            </div>



            <div class="item">
                <a href="/Items/Details/473">
                    <img src="~/Images/Necessities/etcetera_spring2016_218070_a.png" width="503" height="850" alt="NUDE - 218070">
                </a>
                <div class="carousel-caption">
                    <h3>NUDE - 218070</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/474">
                    <img src="~/Images/Necessities/etcetera_spring2016_218071_a.png" width="503" height="850" alt="BLANC - 218071">
                </a>
                <div class="carousel-caption">
                    <h3>BLANC - 218071</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/475">
                    <img src="~/Images/Necessities/etcetera_spring2016_218072_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/476">
                    <img src="~/Images/Necessities/etcetera_spring2016_218079_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/477">
                    <img src="~/Images/Necessities/etcetera_spring2016_218080_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/478">
                    <img src="~/Images/Necessities/etcetera_spring2016_218081_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/479">
                    <img src="~/Images/Necessities/etcetera_spring2016_218082_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/480">
                    <img src="~/Images/Necessities/etcetera_spring2016_218083_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/481">
                    <img src="~/Images/Necessities/etcetera_spring2016_219279_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/482">
                    <img src="~/Images/Necessities/etcetera_spring2016_219280_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/483">
                    <img src="~/Images/Necessities/etcetera_spring2016_219281_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/484">
                    <img src="~/Images/Necessities/etcetera_spring2016_219282_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/485">
                    <img src="~/Images/Necessities/etcetera_spring2016_219283_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/486">
                    <img src="~/Images/Necessities/etcetera_spring2016_219284_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/487">
                    <img src="~/Images/Necessities/etcetera_spring2016_219285_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/488">
                    <img src="~/Images/Necessities/etcetera_spring2016_219286_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/489">
                    <img src="~/Images/Necessities/etcetera_spring2016_219287_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/490">
                    <img src="~/Images/Necessities/etcetera_spring2016_219288_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/491">
                    <img src="~/Images/Necessities/etcetera_spring2016_219289_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/492">
                    <img src="~/Images/Necessities/etcetera_spring2016_219291_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/493">
                    <img src="~/Images/Necessities/etcetera_spring2016_219292_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/494">
                    <img src="~/Images/Necessities/etcetera_spring2016_219293_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/495">
                    <img src="~/Images/Necessities/etcetera_spring2016_219294_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/496">
                    <img src="~/Images/Necessities/etcetera_spring2016_219295_a.png" width="503" height="850" alt="">
                </a>
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>


        </div>
    </center>


    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>