@{
    ViewBag.Title = "Pants";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <center>
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img src="~/Images/su16_home_hero-6.jpg" alt="PANTS">
            </div>
            <div class="item">
                <a href="/Items/Details/169">
                    <img src="~/Images/Pants/etcetera_spring2016_208606_a.png" width="503" height="850" alt="WANDERER - 208606">
                </a>
                <div class="carousel-caption">
                    <h3>WANDERER - 208606</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/170">
                    <img src="~/Images/Pants/etcetera_spring2016_209504_a.png" width="503" height="850" alt="UPBEAT - 209504">

                </a>
                <div class="carousel-caption">
                    <h3>UPBEAT - 209504</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/171">
                    <img src="~/Images/Pants/etcetera_spring2016_209506_a.png" width="503" height="850" alt="CALVADOS - 209506">
                </a>
                <div class="carousel-caption">
                    <h3>CALVADOS - 209506</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/172">
                    <img src="~/Images/Pants/etcetera_spring2016_209512_a.png" width="503" height="850" alt="RILEY - 209512">
                </a>
                <div class="carousel-caption">
                    <h3>RILEY - 209512</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/173">
                    <img src="~/Images/Pants/etcetera_spring2016_209515_a.png" width="503" height="850" alt="BLUEJEAN - 209515">

                </a>
                <div class="carousel-caption">
                    <h3>BLUEJEAN - 209515</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/174">
                    <img src="~/Images/Pants/etcetera_spring2016_209533_a.png" width="503" height="850" alt="PITCH - 209533">

                </a>
                <div class="carousel-caption">
                    <h3>PITCH - 209533</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/175">
                    <img src="~/Images/Pants/etcetera_spring2016_209536_a.png" width="503" height="850" alt="KNOCKOUT - 209536">
                </a>
                <div class="carousel-caption">
                    <h3>KNOCKOUT - 209536</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/176">
                    <img src="~/Images/Pants/etcetera_spring2016_209546_a.png" width="503" height="850" alt="TROUSER - 209546">
                </a>
                <div class="carousel-caption">
                    <h3>TROUSER - 209546</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/177">
                    <img src="~/Images/Pants/etcetera_spring2016_209549_a.png" width="503" height="850" alt="ROMA - 209549">
                </a>
                <div class="carousel-caption">
                    <h3>ROMA - 209549</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/178">
                    <img src="~/Images/Pants/etcetera_spring2016_209555_a.png" width="503" height="850" alt="ZIPPED - 209555">
                </a>
                <div class="carousel-caption">
                    <h3>ZIPPED - 209555</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/179">
                    <img src="~/Images/Pants/etcetera_spring2016_209579_a.png" width="503" height="850" alt="SPORTIF - 209579">
                </a>

                <div class="carousel-caption">
                    <h3>SPORTIF - 209579</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/180">
                    <img src="~/Images/Pants/etcetera_spring2016_209582_a.png" width="503" height="850" alt="NAUTILUS - 209582">
                </a>

                <div class="carousel-caption">
                    <h3>NAUTILUS - 209582</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/181">
                    <img src="~/Images/Pants/etcetera_spring2016_209589_a.png" width="503" height="850" alt="OXYGEN - 209589">
                </a>

                <div class="carousel-caption">
                    <h3>OXYGEN - 209589</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/182">
                    <img src="~/Images/Pants/etcetera_spring2016_209608_a.png" width="503" height="850" alt="ALMONDINE - 209608">
                </a>

                <div class="carousel-caption">
                    <h3>ALMONDINE - 209608</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/183">
                    <img src="~/Images/Pants/etcetera_spring2016_209618_a.png" width="503" height="850" alt="CHABLIS - 209618">
                </a>

                <div class="carousel-caption">
                    <h3>CHABLIS - 209618</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/184">
                    <img src="~/Images/Pants/etcetera_spring2016_209794_a.png" width="503" height="850" alt="STAMPEDE - 209794">
                </a>

                <div class="carousel-caption">
                    <h3>STAMPEDE - 209794</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/185">
                    <img src="~/Images/Pants/etcetera_spring2016_409502_a.png" width="503" height="850" alt="BIANCA - 409502">
                </a>

                <div class="carousel-caption">
                    <h3>BIANCA - 409502</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/186">
                    <img src="~/Images/Pants/etcetera_spring2016_409561_a.png" width="503" height="850" alt="TRULY - 409561">
                </a>

                <div class="carousel-caption">
                    <h3>TRULY - 409561</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/187">
                    <img src="~/Images/Pants/etcetera_spring2016_409786_a.png" width="503" height="850" alt="ENIGMA - 409786">
                </a>

                <div class="carousel-caption">
                    <h3>ENIGMA - 409786</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/188">
                    <img src="~/Images/Pants/etcetera_spring2016_409789_a.png" width="503" height="850" alt="FELLINI - 409789">
                </a>

                <div class="carousel-caption">
                    <h3>FELLINI - 409789</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/189">
                    <img src="~/Images/Pants/etcetera_summer2016_208929_a.png" width="503" height="850" alt="ANGELICA - 208929">
                </a>

                <div class="carousel-caption">
                    <h3>ANGELICA - 208929</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/190">
                    <img src="~/Images/Pants/etcetera_summer2016_209888_a.png" width="503" height="850" alt="MASON - 209888">
                </a>

                <div class="carousel-caption">
                    <h3>MASON - 209888</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/191">
                    <img src="~/Images/Pants/etcetera_summer2016_209890_a.png" width="503" height="850" alt="FRESH - 209890">
                </a>

                <div class="carousel-caption">
                    <h3>FRESH - 209890</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/192">
                    <img src="~/Images/Pants/etcetera_summer2016_209897_a.png" width="503" height="850" alt="Chania">
                </a>

                <div class="carousel-caption">
                    <h3>JOURNEY - 209897</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/193">
                    <img src="~/Images/Pants/etcetera_summer2016_209904_a.png" width="503" height="850" alt="MINTY - 209904">
                </a>

                <div class="carousel-caption">
                    <h3>MINTY - 209904</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/194">
                    <<img src="~/Images/Pants/etcetera_summer2016_209905_a.png" width="503" height="850" alt="BLUEMOON - 209905">
                </a>

                <div class="carousel-caption">
                    <h3>BLUEMOON - 209905</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/195">
                    <img src="~/Images/Pants/etcetera_summer2016_209919_a.png" width="503" height="850" alt="FATHOM - 209919">
                </a>

                <div class="carousel-caption">
                    <h3>FATHOM - 209919</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/196">
                    <img src="~/Images/Pants/etcetera_summer2016_209924_a.png" width="503" height="850" alt="NEUTRAL - 209924">

                    <div class="carousel-caption">
                        <h3>NEUTRAL - 209924</h3>
                    </div>
            </div>
            <div class="item">
                <a href="/Items/Details/197">
                    <img src="~/Images/Pants/etcetera_summer2016_209936_a.png" width="503" height="850" alt="MUSE - 209936">
                </a>

                <div class="carousel-caption">
                    <h3>MUSE - 209936</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/198">
                    <img src="~/Images/Pants/etcetera_summer2016_209943_a.png" width="503" height="850" alt="TOBACCO - 209943">
                </a>

                <div class="carousel-caption">
                    <h3>TOBACCO - 209943</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/199">
                    <img src="~/Images/Pants/etcetera_summer2016_408942_a.png" width="503" height="850" alt="NAVIGATOR - 408942">
                </a>

                <div class="carousel-caption">
                    <h3>NAVIGATOR - 408942</h3>
                </div>
            </div>

        </div>
    </center>

        <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>