@{
    ViewBag.Title = "Skirts";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <center>
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img src="~/Images/su16_home_hero-6A.jpg" alt="SKIRTS">
            </div>

            <div class="item">
                <a href="/Items/Details/135">
                    <img src="~/Images/Skirts/etcetera_spring2016_214503_a.png" width="503" height="850" alt="ETRUSCAN - 214503">
                </a>

                <div class="carousel-caption">
                    <h3>ETRUSCAN - 214503</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/136">
                    <img src="~/Images/Skirts/etcetera_spring2016_214513_a.png" width="503" height="850" alt="DUNES - 214513">
                </a>

                <div class="carousel-caption">
                    <h3>DUNES - 214513</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/137">
                    <img src="~/Images/Skirts/etcetera_spring2016_214518_a.png" width="503" height="850" alt="BONBON - 214518">
                </a>

                <div class="carousel-caption">
                    <h3>BONBON - 214518</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/138">
                    <img src="~/Images/Skirts/etcetera_spring2016_214521_a.png" width="503" height="850" alt="DIAGONAL - 214521">
                </a>

                <div class="carousel-caption">
                    <h3>DIAGONAL - 214521</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/139">
                    <img src="~/Images/Skirts/etcetera_spring2016_214524_a.png" width="503" height="850" alt="MODERN - 214524 ">
                </a>

                <div class="carousel-caption">
                    <h3>MODERN - 214524</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/140">
                    <img src="~/Images/Skirts/etcetera_spring2016_214525_a.png" width="503" height="850" alt="APPLIQUE - 214525">
                </a>

                <div class="carousel-caption">
                    <h3>APPLIQUE - 214525</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/141">
                    <img src="~/Images/Skirts/etcetera_spring2016_214540_a.png" width="503" height="850" alt="FREQUENCY - 214540">
                </a>

                <div class="carousel-caption">
                    <h3>FREQUENCY - 214540</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/142">
                    <img src="~/Images/Skirts/etcetera_spring2016_214556_a.png" width="503" height="850" alt="CALIENTE - 214556">
                </a>

                <div class="carousel-caption">
                    <h3>CALIENTE - 214556 </h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/143">
                    <img src="~/Images/Skirts/etcetera_spring2016_214560_a.png" width="503" height="850" alt="STRAIGHT - 214560">
                </a>

                <div class="carousel-caption">
                    <h3>STRAIGHT - 214560</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/144">
                    <img src="~/Images/Skirts/etcetera_spring2016_214568_a.png" width="503" height="850" alt="VIVID - 214568">
                </a>

                <div class="carousel-caption">
                    <h3>VIVID - 214568</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/145">
                    <img src="~/Images/Skirts/etcetera_spring2016_214584_a.png" width="503" height="850" alt="SLEEK - 214584">
                </a>

                <div class="carousel-caption">
                    <h3>SLEEK - 214584</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/146">
                    <img src="~/Images/Skirts/etcetera_spring2016_214607_a.png" width="503" height="850" alt="COOKIE - 214607">
                </a>

                <div class="carousel-caption">
                    <h3>COOKIE - 214607</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/147">
                    <img src="~/Images/Skirts/etcetera_spring2016_214614_a.png" width="503" height="850" alt="RIZZO - 214614">
                </a>
                <div class="carousel-caption">
                    <h3>RIZZO - 214614</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/148">
                    <img src="~/Images/Skirts/etcetera_spring2016_214615_a.png" width="503" height="850" alt="HORIZON - 214615">
                </a>
                <div class="carousel-caption">
                    <h3>HORIZON - 214615</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/149">
                    <img src="~/Images/Skirts/etcetera_spring2016_214617_a.png" width="503" height="850" alt="TUTTIFRUITY - 214617">
                </a>
                <div class="carousel-caption">
                    <h3>TUTTIFRUITY - 214617</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/150">
                    <img src="~/Images/Skirts/etcetera_spring2016_214791_a.png" width="503" height="850" alt="FANCY - 214791">
                </a>
                <div class="carousel-caption">
                    <h3>FANCY - 214791</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/151">
                    <img src="~/Images/Skirts/etcetera_spring2016_214796_a.png" width="503" height="850" alt="DELANO - 214796">
                </a>
                <div class="carousel-caption">
                    <h3>DELANO - 214796</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/152">
                    <img src="~/Images/Skirts/etcetera_spring2016_214797_a.png" width="503" height="850" alt="CLEMATIS - 214797">
                </a>
                <div class="carousel-caption">
                    <h3>CLEMATIS - 214797</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/153">
                    <img src="~/Images/Skirts/etcetera_spring2016_214798_a.png" width="503" height="850" alt="HIPPIE - 214798">
                </a>
                <div class="carousel-caption">
                    <h3>HIPPIE - 214798</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/154">
                    <img src="~/Images/Skirts/etcetera_spring2016_414507_a.png" width="503" height="850" alt="AMBROSIA - 414507">
                </a>
                <div class="carousel-caption">
                    <h3>AMBROSIA - 414507</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/155">
                    <img src="~/Images/Skirts/etcetera_spring2016_414523_a.png" width="503" height="850" alt="MARVELOUS - 414523">
                </a>
                <div class="carousel-caption">
                    <h3>MARVELOUS - 414523</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/156">
                    <img src="~/Images/Skirts/etcetera_spring2016_414531_a.png" width="503" height="850" alt="LACQUERED - 414531">
                </a>
                <div class="carousel-caption">
                    <h3>LACQUERED - 414531</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/157">
                    <img src="~/Images/Skirts/etcetera_spring2016_414543_a.png" width="503" height="850" alt="SARAFINA - 414543">
                </a>
                <div class="carousel-caption">
                    <h3>SARAFINA - 414543</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/158">
                    <img src="~/Images/Skirts/etcetera_spring2016_414585_a.png" width="503" height="850" alt="LEILA - 414585">
                </a>
                <div class="carousel-caption">
                    <h3>LEILA - 414585</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/159">
                    <img src="~/Images/Skirts/etcetera_spring2016_414789_a.png" width="503" height="850" alt="FELLINI - 414789">
                </a>
                <div class="carousel-caption">
                    <h3>FELLINI - 414789</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/160">
                    <img src="~/Images/Skirts/etcetera_summer2016_214889_a.png" width="503" height="850" alt="NATIVE - 214889">
                </a>
                <div class="carousel-caption">
                    <h3>NATIVE - 214889</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/161">
                    <img src="~/Images/Skirts/etcetera_summer2016_214912_a.png" width="503" height="850" alt="CHESAPEAKE - 214912">
                </a>
                <div class="carousel-caption">
                    <h3>CHESAPEAKE - 214912</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/162">
                    <img src="~/Images/Skirts/etcetera_summer2016_214913_a.png" width="503" height="850" alt="DARLING - 214913">
                </a>

                <div class="carousel-caption">
                    <h3>DARLING - 214913</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/163">
                    <img src="~/Images/Skirts/etcetera_summer2016_214927_a.png" width="503" height="850" alt="OCEANA - 214927">
                </a>

                <div class="carousel-caption">
                    <h3>OCEANA - 214927</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/164">
                    <img src="~/Images/Skirts/etcetera_summer2016_214932_a.png" width="503" height="850" alt="INTRICATE - 214932">
                </a>

                <div class="carousel-caption">
                    <h3>INTRICATE - 214932</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/165">
                    <img src="~/Images/Skirts/etcetera_summer2016_214939_a.png" width="503" height="850" alt="GAZEBO - 214939">
                </a>

                <div class="carousel-caption">
                    <h3>GAZEBO - 214939</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/166">
                    <img src="~/Images/Skirts/etcetera_summer2016_214944_a.png" width="503" height="850" alt="SAHARA - 214944">
                </a>
                <div class="carousel-caption">
                    <h3>SAHARA - 214944</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/167">
                    <img src="~/Images/Skirts/etcetera_summer2016_214945_a.png" width="503" height="850" alt="RESORT - 214945">
                </a>
                <div class="carousel-caption">
                    <h3>RESORT - 214945</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/168">
                    <img src="~/Images/Skirts/etcetera_summer2016_414892_a.png" width="503" height="850" alt="DIVINE - 414892">
                </a>
                <div class="carousel-caption">
                    <h3>DIVINE - 414892</h3>
                </div>
            </div>


        </div>
    </center>

    
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
