@{
    ViewBag.Title = "Tops";
}



<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <center>
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img src="~/Images/su16_home_hero-5.jpg" alt="TOPS">
            </div>

            <div class="item">

                <a href="/Items/Details/29">
                    <img src="~/Images/Tops/etcetera_spring2016_204500_a.png" width="503" height="850" alt="LIDO - 204500">
                </a>



                <div class="carousel-caption">
                    <h3>LIDO - 204500</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/30">
                    <img src="~/Images/Tops/etcetera_spring2016_204505_a.png" width="503" height="850" alt="DEBUT - 204505">
                </a>

                <div class="carousel-caption">
                    <h3>DEBUT - 204505</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/31">
                    <img><img src="~/Images/Tops/etcetera_spring2016_204562_a.png" width="503" height="850" alt="PARADISE - 204562">
                </a>

                <div class="carousel-caption">
                    <h3>PARADISE - 204562</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/32">
                    <img src="~/Images/Tops/etcetera_spring2016_204567_a.png" width="503" height="850" alt="GYPSY - 204567">
                </a>

                <div class="carousel-caption">
                    <h3>GYPSY - 204567</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/33">
                    <img src="~/Images/Tops/etcetera_spring2016_204574_a.png" width="503" height="850" alt="ZOOM - 204574">
                </a>

                <div class="carousel-caption">
                    <h3>ZOOM - 204574</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/34">
                    <img src="~/Images/Tops/etcetera_spring2016_204575_a.png" width="503" height="850" alt="ORZO - 204575">
                </a>

                <div class="carousel-caption">
                    <h3>ORZO - 204575</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/35">
                    <img src="~/Images/Tops/etcetera_spring2016_204576_a.png" width="503" height="850" alt="FLOURISH - 204576">
                </a>

                <div class="carousel-caption">
                    <h3>FLOURISH - 204576</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/36">
                    <img src="~/Images/Tops/etcetera_spring2016_204577_a.png" width="503" height="850" alt="LANA - 204577">
                </a>

                <div class="carousel-caption">
                    <h3>LANA - 204577</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/37">
                    <img src="~/Images/Tops/etcetera_spring2016_204588_a.png" width="503" height="850" alt="UNCHARTED - 204588">
                </a>

                <div class="carousel-caption">
                    <h3>UNCHARTED - 204588</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/38">
                    <img src="~/Images/Tops/etcetera_spring2016_204612_a.png" width="503" height="850" alt="CLEO - 204612">
                </a>

                <div class="carousel-caption">
                    <h3>CLEO - 204612</h3>
                </div>
            </div>

            @*40*@
            <div class="item">
                <a href="/Items/Details/39">
                    <img src="~/Images/Tops/etcetera_spring2016_204616_a.png" width="503" height="850" alt="HEARTBEAT - 204616">
                </a>

                <div class="carousel-caption">
                    <h3>HEARTBEAT - 204616</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/40">
                    <img src="~/Images/Tops/etcetera_spring2016_205544_a.png" width="503" height="850" alt="ESSENCE - 205544">
                </a>

                <div class="carousel-caption">
                    <h3>ESSENCE - 205544</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/41">
                    <img src="~/Images/Tops/etcetera_spring2016_210501_a.png" width="503" height="850" alt="SHARP - 210501">
                </a>

                <div class="carousel-caption">
                    <h3>SHARP - 210501</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/42">
                    <img src="~/Images/Tops/etcetera_spring2016_210504_a.png" width="503" height="850" alt="MIA - 210504">
                </a>

                <div class="carousel-caption">
                    <h3>MIA - 210504</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/43">
                    <img src="~/Images/Tops/etcetera_spring2016_210506_a.png" width="503" height="850" alt="DRIFT - 210506">
                </a>

                <div class="carousel-caption">
                    <h3>DRIFT - 210506</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/44">
                    <img src="~/Images/Tops/etcetera_spring2016_210510_a.png" width="503" height="850" alt="MILKY - 210510">
                </a>

                <div class="carousel-caption">
                    <h3>MILKY - 210510</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/45">
                    <img src="~/Images/Tops/etcetera_spring2016_210512_a.png" width="503" height="850" alt="BAGUETTE - 210512">
                </a>

                <div class="carousel-caption">
                    <h3>BAGUETTE - 210512</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/46">
                    <img src="~/Images/Tops/etcetera_spring2016_210515_a.png" width="503" height="850" alt="KEEPSAKE - 210515">
                </a>

                <div class="carousel-caption">
                    <h3>KEEPSAKE - 210515</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/47">
                    <img src="~/Images/Tops/etcetera_spring2016_210518_a.png" width="503" height="850" alt="CREAMSICLE - 210518">
                </a>

                <div class="carousel-caption">
                    <h3>CREAMSICLE - 210518</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/48">
                    <img src="~/Images/Tops/etcetera_spring2016_210519_a.png" width="503" height="850" alt="NOUGAT - 210519">
                </a>

                <div class="carousel-caption">
                    <h3>NOUGAT - 210519</h3>
                </div>
            </div>

            @*49*@

            <div class="item">
                <a href="/Items/Details/49">
                    <img src="~/Images/Tops/etcetera_spring2016_210522_a.png" width="503" height="850" alt="MASCARPONE - 210522">
                </a>

                <div class="carousel-caption">
                    <h3>MASCARPONE - 210522</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/50">
                    <img src="~/Images/Tops/etcetera_spring2016_210524_a.png" width="503" height="850" alt="MELLOW - 210524">
                </a>

                <div class="carousel-caption">
                    <h3>MELLOW - 210524</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/51">
                    <img src="~/Images/Tops/etcetera_spring2016_210529_a.png" width="503" height="850" alt="BLAINE - 210529">
                </a>

                <div class="carousel-caption">
                    <h3>BLAINE - 210529</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/52">
                    <img src="~/Images/Tops/etcetera_spring2016_210533_a.png" width="503" height="850" alt="NEWSPRINT - 210533">
                </a>

                <div class="carousel-caption">
                    <h3>NEWSPRINT - 210533</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/53">
                    <img src="~/Images/Tops/etcetera_spring2016_210534_a.png" width="503" height="850" alt="NEWSPRINT - 210534">
                </a>

                <div class="carousel-caption">
                    <h3>NEWSPRINT - 210534</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/54">
                    <img src="~/Images/Tops/etcetera_spring2016_210543_a.png" width="503" height="850" alt="HAZELNUT - 210543">
                </a>

                <div class="carousel-caption">
                    <h3>HAZELNUT - 210543</h3>
                </div>
            </div>




            <div class="item">

                <a href="/Items/Details/55">
                    <img src="~/Images/Tops/etcetera_spring2016_210549_a.png" width="503" height="850" alt="KNIGHT - 210549">
                </a>


                <div class="carousel-caption">
                    <h3>KNIGHT - 210549</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/56">
                    <img src="~/Images/Tops/etcetera_spring2016_210551_a.png" width="503" height="850" alt="KNOTTED - 210551">
                </a>

                <div class="carousel-caption">
                    <h3>KNOTTED - 210551</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/57">
                    <img src="~/Images/Tops/etcetera_spring2016_210558_a.png" width="503" height="850" alt="MARTINI - 210558">
                </a>

                <div class="carousel-caption">
                    <h3>MARTINI - 210558</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/58">
                    <img src="~/Images/Tops/etcetera_spring2016_210564_a.png" width="503" height="850" alt="FERRARI - 210564">
                </a>

                <div class="carousel-caption">
                    <h3>FERRARI - 210564</h3>
                </div>
            </div>

            @*59*@

            <div class="item">
                <a href="/Items/Details/59">
                    <img src="~/Images/Tops/etcetera_spring2016_210568_a.png" width="503" height="850" alt="INTREPID - 210568">
                </a>

                <div class="carousel-caption">
                    <h3>INTREPID - 210568</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/60">
                    <img src="~/Images/Tops/etcetera_spring2016_210573_a.png" width="503" height="850" alt="JEZEBEL - 210573">
                </a>

                <div class="carousel-caption">
                    <h3>JEZEBEL - 210573</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/61">
                    <img src="~/Images/Tops/etcetera_spring2016_210574_a.png" width="503" height="850" alt="ZEN - 210574">
                </a>

                <div class="carousel-caption">
                    <h3>ZEN - 210574</h3>
                </div>
            </div>



            <div class="item">
                <a href="/Items/Details/62">
                    <img src="~/Images/Tops/etcetera_spring2016_210575_a.png" width="503" height="850" alt="DECK - 210575">
                </a>

                <div class="carousel-caption">
                    <h3>DECK - 210575</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/63">
                    <img src="~/Images/Tops/etcetera_spring2016_210582_a.png" width="503" height="850" alt="INDEPENDENCE - 210582">
                </a>

                <div class="carousel-caption">
                    <h3>INDEPENDENCE - 210582</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/64">
                    <img src="~/Images/Tops/etcetera_spring2016_210584_a.png" width="503" height="850" alt="VIVA - 210584">
                </a>

                <div class="carousel-caption">
                    <h3>VIVA - 210584</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/65">
                    <img src="~/Images/Tops/etcetera_spring2016_210588_a.png" width="503" height="850" alt="NIRVANA - 210588">
                </a>

                <div class="carousel-caption">
                    <h3>NIRVANA - 210588</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/66">
                    <img src="~/Images/Tops/etcetera_spring2016_210589_a.png" width="503" height="850" alt="LEGION - 210589">
                </a>

                <div class="carousel-caption">
                    <h3>LEGION - 210589</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/67">
                    <img src="~/Images/Tops/etcetera_spring2016_210591_a.png" width="503" height="850" alt="WIMBLEDON - 210591">
                </a>

                <div class="carousel-caption">
                    <h3>WIMBLEDON - 210591</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/68">
                    <img src="~/Images/Tops/etcetera_spring2016_210606_a.png" width="503" height="850" alt="TRANQUIL - 210606">
                </a>

                <div class="carousel-caption">
                    <h3>TRANQUIL - 210606</h3>
                </div>
            </div>

            @*69*@

            <div class="item">
                <a href="/Items/Details/69">
                    <img src="~/Images/Tops/etcetera_spring2016_210607_a.png" width="503" height="850" alt="COOKIE - 210607">
                </a>

                <div class="carousel-caption">
                    <h3>COOKIE - 210607</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/70">
                    <img src="~/Images/Tops/etcetera_spring2016_210608_a.png" width="503" height="850" alt="HAMPTONS - 210608">
                </a>

                <div class="carousel-caption">
                    <h3>HAMPTONS - 210608</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/71">
                    <img src="~/Images/Tops/etcetera_spring2016_210610_a.png" width="503" height="850" alt="PARKER - 210610">
                </a>

                <div class="carousel-caption">
                    <h3>PARKER - 210610</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/72">
                    <img src="~/Images/Tops/etcetera_spring2016_210611_a.png" width="503" height="850" alt="COUNTRY - 210611">
                </a>

                <div class="carousel-caption">
                    <h3>COUNTRY - 210611</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/73">
                    <img src="~/Images/Tops/etcetera_spring2016_210793_a.png" width="503" height="850" alt="OBLIQUE - 210793">
                </a>

                <div class="carousel-caption">
                    <h3>OBLIQUE - 210793</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/74">
                    <img src="~/Images/Tops/etcetera_spring2016_210798_a.png" width="503" height="850" alt="BROWNIE - 210798">
                </a>

                <div class="carousel-caption">
                    <h3>BROWNIE - 210798</h3>
                </div>
            </div>


            <div class="item">
                <a href="/Items/Details/75">
                    <img src="~/Images/Tops/etcetera_spring2016_212508_a.png" width="503" height="850" alt="NIGHTBIRD - 212508">
                </a>

                <div class="carousel-caption">
                    <h3>NIGHTBIRD - 212508</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/76">
                    <img src="~/Images/Tops/etcetera_spring2016_212511_a.png" width="503" height="850" alt="ASTER - 212511">
                </a>

                <div class="carousel-caption">
                    <h3>ASTER - 212511</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/77">
                    <img src="~/Images/Tops/etcetera_spring2016_212514_a.png" width="503" height="850" alt="EMBARK - 212514">
                </a>

                <div class="carousel-caption">
                    <h3>EMBARK - 212514</h3>
                </div>
            </div>

            <div class="item">
                <a href="/Items/Details/78">
                    <img src="~/Images/Tops/etcetera_spring2016_212522_a.png" width="503" height="850" alt="PRESENCE - 212522">
                </a>

                <div class="carousel-caption">
                    <h3>PRESENCE - 212522</h3>
                </div>
            </div>

            @*80*@

            <div class="item">
                <a href="/Items/Details/79">
                    <img src="~/Images/Tops/etcetera_spring2016_212535_a.png" width="503" height="850" alt="GEORGETTE - 212535">
                </a>

                <div class="carousel-caption">
                    <h3>GEORGETTE - 212535</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/80">
                    <img src="~/Images/Tops/etcetera_spring2016_212537_a.png" width="503" height="850" alt="DIAMONDS - 212537">
                </a>

                <div class="carousel-caption">
                    <h3>DIAMONDS - 212537</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/81">
                    <img src="~/Images/Tops/etcetera_spring2016_212538_a.png" width="503" height="850" alt="VENICE - 212538">
                </a>

                <div class="carousel-caption">
                    <h3>VENICE - 212538</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/82">
                    <img src="~/Images/Tops/etcetera_spring2016_212545_a.png" width="503" height="850" alt="EXQUISTE - 212545">
                </a>

                <div class="carousel-caption">
                    <h3>EXQUISTE - 212545</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/83">
                    <img src="~/Images/Tops/etcetera_spring2016_212548_a.png" width="503" height="850" alt="SEAFOAM - 212548">
                </a>

                <div class="carousel-caption">
                    <h3>SEAFOAM -  212548</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/84">
                    <img src="~/Images/Tops/etcetera_spring2016_212550_a.png" width="503" height="850" alt="HOTHOUSE - 212550">
                </a>

                <div class="carousel-caption">
                    <h3>HOTHOUSE - 212550</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/85">
                    <img src="~/Images/Tops/etcetera_spring2016_212554_a.png" width="503" height="850" alt="GLITTER - 212554">
                </a>

                <div class="carousel-caption">
                    <h3>GLITTER - 212554</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/86">
                    <img src="~/Images/Tops/etcetera_spring2016_212559_a.png" width="503" height="850" alt="LIMELIGHT - 212559">
                </a>

                <div class="carousel-caption">
                    <h3>LIMELIGHT - 212559</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/87">
                    <img src="~/Images/Tops/etcetera_spring2016_212564_c.png" width="503" height="850" alt="SEYCHELLES - 212564">
                </a>

                <div class="carousel-caption">
                    <h3>SEYCHELLES - 212564</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/88">
                    <img src="~/Images/Tops/etcetera_spring2016_212565_a.png" width="503" height="850" alt="NOVEL - 212565">
                </a>

                <div class="carousel-caption">
                    <h3>NOVEL - 212565</h3>
                </div>
            </div>

            @*90*@

            <div class="item">
                <a href="/Items/Details/89">
                    <img src="~/Images/Tops/etcetera_spring2016_212569_a.png" width="503" height="850" alt="LUNA - 212569">
                </a>

                <div class="carousel-caption">
                    <h3>LUNA - 212569</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/90">
                    <img src="~/Images/Tops/etcetera_spring2016_212570_a.png" width="503" height="850" alt="SPADES - 212570">
                </a>

                <div class="carousel-caption">
                    <h3>SPADES - 212570</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/91">
                    <img src="~/Images/Tops/etcetera_spring2016_212571_a.png" width="503" height="850" alt="INSTINCT - 212571">
                </a>

                <div class="carousel-caption">
                    <h3>INSTINCT - 212571</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/92">
                    <img src="~/Images/Tops/etcetera_spring2016_212577_a.png" width="503" height="850" alt="PALISADES - 212577">
                </a>

                <div class="carousel-caption">
                    <h3>PALISADES - 212577</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/93">
                    <img src="~/Images/Tops/etcetera_spring2016_212581_a.png" width="503" height="850" alt="SYLVAN - 212581">
                </a>

                <div class="carousel-caption">
                    <h3>SYLVAN - 212581</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/94">
                    <img src="~/Images/Tops/etcetera_spring2016_212586_a.png" width="503" height="850" alt="OPALINE - 212586">
                </a>

                <div class="carousel-caption">
                    <h3>OPALINE - 212586</h3>
                </div>
            </div>









            <div class="item">

                <a href="/Items/Details/95">
                    <img src="~/Images/Tops/etcetera_spring2016_212590_a.png" width="503" height="850" alt="POLKADOT - 212590">
                </a>



                <div class="carousel-caption">
                    <h3>POLKADOT - 212590</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/96">
                    <img src="~/Images/Tops/etcetera_spring2016_212596_a.png" width="503" height="850" alt="PARCHMENT - 212596">
                </a>

                <div class="carousel-caption">
                    <h3>PARCHMENT - 212596</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/97">
                    <img src="~/Images/Tops/etcetera_spring2016_212597_a.png" width="503" height="850" alt="AIRY - 212597">
                </a>

                <div class="carousel-caption">
                    <h3>AIRY - 212597</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/98">
                    <img src="~/Images/Tops/etcetera_spring2016_212619_a.png" width="503" height="850" alt="CASABLANCA - 212619">
                </a>

                <div class="carousel-caption">
                    <h3>CASABLANCA - 212619</h3>
                </div>
            </div>

            @*100*@

            <div class="item">
                <a href="/Items/Details/99">
                    <img src="~/Images/Tops/etcetera_spring2016_212790_a.png" width="503" height="850" alt="CHAMBRAY - 212790">
                </a>

                <div class="carousel-caption">
                    <h3>CHAMBRAY - 212790</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/100">
                    <img src="~/Images/Tops/etcetera_summer2016_203947_a.png" width="503" height="850" alt="INDULGE - 203947">
                </a>

                <div class="carousel-caption">
                    <h3>INDULGE - 203947</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/101">
                    <img src="~/Images/Tops/etcetera_summer2016_204902_a.png" width="503" height="850" alt="TAHITI - 204902">
                </a>

                <div class="carousel-caption">
                    <h3>TAHITI - 204902</h3>
                </div>
            </div>











            <div class="item">
                <a href="/Items/Details/102">
                    <img src="~/Images/Tops/etcetera_summer2016_204905_a.png" width="503" height="850" alt="ENGAGE - 204905">
                </a>

                <div class="carousel-caption">
                    <h3>ENGAGE - 204905</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/103">
                    <img src="~/Images/Tops/etcetera_summer2016_204911_a.png" width="503" height="850" alt="FILIGREE - 204911">
                </a>

                <div class="carousel-caption">
                    <h3>FILIGREE - 204911</h3>
                </div>
            </div>





            <div class="item">
                <a href="/Items/Details/104">
                    <img src="~/Images/Tops/etcetera_summer2016_204925_a.png" width="503" height="850" alt="PURITY - 204925">
                </a>

                <div class="carousel-caption">
                    <h3>PURITY - 204925</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/105">
                    <img src="~/Images/Tops/etcetera_summer2016_204936_a.png" width="503" height="850" alt="COCO - 204936">
                </a>

                <div class="carousel-caption">
                    <h3>COCO - 204936</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/106">
                    <img src="~/Images/Tops/etcetera_summer2016_204942_a.png" width="503" height="850" alt="DHARMA - 204942">
                </a>

                <div class="carousel-caption">
                    <h3>DHARMA - 204942</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/107">
                    <img src="~/Images/Tops/etcetera_summer2016_210897_a.png" width="503" height="850" alt="CAPER - 210897">
                </a>

                <div class="carousel-caption">
                    <h3>CAPER - 210897</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/108">
                    <img src="~/Images/Tops/etcetera_summer2016_210899_a.png" width="503" height="850" alt="RELAXING - 210899">
                </a>

                <div class="carousel-caption">
                    <h3>RELAXING - 210899</h3>
                </div>
            </div>

            @*110*@




            <div class="item">
                <a href="/Items/Details/109">
                    <img src="~/Images/Tops/etcetera_summer2016_210900_a.png" width="503" height="850" alt="ADRIFT - 210900">
                </a>

                <div class="carousel-caption">
                    <h3>ADRIFT - 210900</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/110">
                    <img src="~/Images/Tops/etcetera_summer2016_210910_a.png" width="503" height="850" alt="ADRIFT - 210910">
                </a>

                <div class="carousel-caption">
                    <h3>ADRIFT - 210910</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/111">
                    <img src="~/Images/Tops/etcetera_summer2016_210912_a.png" width="503" height="850" alt="RAVEN - 210912">
                </a>

                <div class="carousel-caption">
                    <h3>RAVEN - 210912</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/112">
                    <img src="~/Images/Tops/etcetera_summer2016_210914_a.png" width="503" height="850" alt="VANISH - 210914">
                </a>

                <div class="carousel-caption">
                    <h3>VANISH - 210914</h3>
                </div>
            </div>



            <div class="item">
                <a href="/Items/Details/113">
                    <img src="~/Images/Tops/etcetera_summer2016_210915_a.png" width="503" height="850" alt="GYPSUM - 210915">
                </a>

                <div class="carousel-caption">
                    <h3>GYPSUM - 210915</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/114">
                    <img src="~/Images/Tops/etcetera_summer2016_210918_a.png" width="503" height="850" alt="PATCHOULI - 210918">
                </a>

                <div class="carousel-caption">
                    <h3>PATCHOULI - 210918</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/115">
                    <img src="~/Images/Tops/etcetera_summer2016_210919_a.png" width="503" height="850" alt="BISCAYNE -  210919">
                </a>

                <div class="carousel-caption">
                    <h3>BISCAYNE - 210919</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/116">
                    <img src="~/Images/Tops/etcetera_summer2016_210920_a.png" width="503" height="850" alt="TWINKLE - 210920">
                </a>

                <div class="carousel-caption">
                    <h3>TWINKLE - 210920</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/117">
                    <img src="~/Images/Tops/etcetera_summer2016_210921_a.png" width="503" height="850" alt="NIMBUS - 210921">
                </a>

                <div class="carousel-caption">
                    <h3>NIMBUS - 210921</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/118">
                    <img src="~/Images/Tops/etcetera_summer2016_210922_a.png" width="503" height="850" alt="FRINGED - 210922">
                </a>

                <div class="carousel-caption">
                    <h3>FRINGED - 210922</h3>
                </div>
            </div>


            @*120*@

            <div class="item">
                <a href="/Items/Details/119">
                    <img src="~/Images/Tops/etcetera_summer2016_210923_a.png" width="503" height="850" alt="SANDSTORM - 210923">
                </a>

                <div class="carousel-caption">
                    <h3>SANDSTORM - 210923</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/120">
                    <img src="~/Images/Tops/etcetera_summer2016_210926_a.png" width="503" height="850" alt="PORCINI -  210926">
                </a>

                <div class="carousel-caption">
                    <h3>PORCINI - 210926</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/121">
                    <img src="~/Images/Tops/etcetera_summer2016_210927_a.png" width="503" height="850" alt="GRAVITY - 210927">
                </a>

                <div class="carousel-caption">
                    <h3>GRAVITY - 210927</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/122">
                    <img src="~/Images/Tops/etcetera_summer2016_210928_a.png" width="503" height="850" alt="COOLMINT - 210928">
                </a>

                <div class="carousel-caption">
                    <h3>COOLMINT - 210928</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/123">
                    <img src="~/Images/Tops/etcetera_summer2016_210930_a.png" width="503" height="850" alt="ADOBE - 210930">
                </a>

                <div class="carousel-caption">
                    <h3>ADOBE - 210930</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/124">
                    <img src="~/Images/Tops/etcetera_summer2016_212893_a.png" width="503" height="850" alt="MARTINIQUE - 212893">
                </a>

                <div class="carousel-caption">
                    <h3>MARTINIQUE - 212893</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/125">
                    <img src="~/Images/Tops/etcetera_summer2016_212895_a.png" width="503" height="850" alt="PAPILLON - 212895">
                </a>

                <div class="carousel-caption">
                    <h3>PAPILLON - 212895</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/126">
                    <img src="~/Images/Tops/etcetera_summer2016_212903_a.png" width="503" height="850" alt="SEASALT - 212903">
                </a>

                <div class="carousel-caption">
                    <h3>SEASALT - 212903</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/127">
                    <img src="~/Images/Tops/etcetera_summer2016_212906_a.png" width="503" height="850" alt="CHAKRA - 212906">
                </a>

                <div class="carousel-caption">
                    <h3>CHAKRA - 212906</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/128">
                    <img src="~/Images/Tops/etcetera_summer2016_212907_a.png" width="503" height="850" alt="YALE - 212907">
                </a>

                <div class="carousel-caption">
                    <h3>YALE - 212907</h3>
                </div>
            </div>

            @*130*@

            <div class="item">
                <a href="/Items/Details/129">
                    <img src="~/Images/Tops/etcetera_summer2016_212909_a.png" width="503" height="850" alt="ASHBURY - 212909">
                </a>

                <div class="carousel-caption">
                    <h3>ASHBURY - 212909</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/130">
                    <img src="~/Images/Tops/etcetera_summer2016_212910_a.png" width="503" height="850" alt="SUMMER - 212910">
                </a>

                <div class="carousel-caption">
                    <h3>SUMMER - 212910</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/131">
                    <img>
                </a>
                <img src="~/Images/Tops/etcetera_summer2016_212914_a.png" width="503" height="850" alt="MONTEREY - 212914">
                <div class="carousel-caption">
                    <h3>MONTEREY - 212914</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/132">
                    <img src="~/Images/Tops/etcetera_summer2016_212933_a.png" width="503" height="850" alt="OVERLAY - 212933">
                </a>

                <div class="carousel-caption">
                    <h3>OVERLAY - 212933</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/133">
                    <img src="~/Images/Tops/etcetera_summer2016_212946_a.png" width="503" height="850" alt="SYNERGY - 212946">
                </a>

                <div class="carousel-caption">
                    <h3>SYNERGY - 212946</h3>
                </div>
            </div>
            <div class="item">
                <a href="/Items/Details/134">
                    <img src="~/Images/Tops/etcetera_summer2016_212949_a.png" width="503" height="850" alt="WILDFLOWER - 212949">
                </a>

                <div class="carousel-caption">
                    <h3>WILDFLOWER - 212949</h3>
                </div>
            </div>

        </div>
    </center>



    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
